@import "../../colors"

.article-preview
  font-family: "Lato", "Arial", sans-serif

  &__title
    display: inline-block
    font-size: 22px
    font-weight: 700
    max-width: 70%

  &__link
    text-decoration: none
    color: $grey-11

    &:hover
      color: $light-blue

  &__date
    float: right
    margin-top: 27px
    color: $grey-55

  &__category
    font-weight: 700

  &__text
    color: $grey-22
    margin: 20px 0

  &__tags
    list-style: none
    padding: 0

  &__tag
    display: inline-block
    padding: 3px

    &:not(:last-child)::after
      display: inline
      content: ","

  &__footer
    margin-top: 25px

    &::after
      display: block
      content: ""
      clear: both

  &__author
    float: left

  &__rating
    float: right
