.article-preview
  margin-bottom: 16px
  font-family: "Lato", "Arial", sans-serif
  position: relative
  border-bottom: 1px solid #e5e5e5

  &__title
    display: inline-block

  &__link
    text-decoration: none
    color: #000000

  &__date
    position: absolute
    top: 18.720px
    right: 0

  &__category
    margin-bottom: 10px

  &__tags
    list-style: none
    padding: 0

  &__tag
    display: inline-block
    border: 1px solid #bbbbbb
    padding: 3px
    border-radius: 5px
    margin-right: 5px

  &__footer
    display: flex
    justify-content: space-between
