include ../standard-button/standard-button.pug
include ../input-field/input-field.pug

mixin sign-in
    .sign-in
        a.sign-in__logo(href="index.html") Logo
        h1.sign-in__page-title Sign in
        form.sign-in__form
            .sign-in__email
                label.sign-in__label Email
                    .sign-in__input-field
                        +input-field({type: "text", color: "white"})

            .sign-in__password
                label.sign-in__label Password
                    a.sign-in__forgot-password(href="/mock-address/") Forgot your password?
                    .sign-in__input-field
                        +input-field({type: "password", color: "white"})

            .sign-in__button
                +standard-button({size: "big", color: "cyan", label: "Sign in", long: true})

            .sign-in__no-account Don't have an account?
                a.sign-in__sign-up(href="sign-up.html")  Sign up
