mixin standard-button({size, color, label, filled, darkShadow = false, thin = false, long = false, mixClass=""})
    - mixClass = mixClass ? " " + mixClass : mixClass;
    - let btnClass = `ripple standard-button standard-button_size_${size} standard-button_color_${color}`;
    - btnClass = filled ? btnClass + " standard-button_filled" : btnClass;
    - btnClass = darkShadow ? btnClass + " standard-button_shadow_dark" : btnClass;
    - btnClass = thin ? btnClass + " standard-button_thin" : btnClass;
    - btnClass = long? btnClass + " standard-button_long" : btnClass;
    button(class=btnClass + mixClass) #{label}