@import "../../colors"

.standard-button
  outline none
  border-radius 0.1875rem
  background-color $white
  text-transform uppercase
  font-family "Lato", "Arial", sans-serif
  font-weight 900
  letter-spacing 0.05em
  cursor pointer

  &_size_big
    width 7.375rem
    height 2rem
    font-size 0.75rem

  &_size_small
    width 4.875rem
    height 1.375rem
    font-size 0.625rem

  &_color_red
    color $light-red
    border 0.0625rem solid $main-red
    &:hover
      background-color $main-red
    &:focus
      border 0.125rem solid $dark-red

  &_color_red&_size_big
    box-shadow 0 0.1875rem 0 0 $main-red
    &:hover
      box-shadow 0 0.1875rem 0 0 $dark-red

  &_color_red&_size_small
    box-shadow 0 0.125rem 0 0 $main-red
    &:hover
      box-shadow 0 0.125rem 0 0 $dark-red

  &_color_cyan
    color $cyan
    border 0.0625rem solid $main-cyan
    &:hover
      background-color $main-cyan
    &:focus
      border 0.125rem solid $dark-cyan

  &_color_cyan&_size_big
    box-shadow 0 0.1875rem 0 0 $main-cyan
    &:hover
      box-shadow 0 0.1875rem 0 0 $dark-cyan

  &_color_cyan&_size_small
    box-shadow 0 0.125rem 0 0 $main-cyan
    &:hover
      box-shadow 0 0.125rem 0 0 $dark-cyan

  &_color_cyan&_filled
    background-color $main-cyan
    color $white
    &:hover
      background-color $cyan

  &_color_cyan&_filled&_size_big
    box-shadow 0 0.1875rem 0 0 $dark-cyan
    &:hover
      box-shadow 0 0.1875rem 0 0 $darkest-cyan
    &:active
      box-shadow none

  &_color_cyan&_shadow_dark&_size_big
    box-shadow 0 0.1875rem 0 0 $darkest-cyan
    &:hover
      background-color $dark-cyan

  &_thin
    width 8rem
    height 1.375rem
    border none
    font-size 0.625rem
    word-spacing 0.2em

  &_long
    width 15.1875rem
    height 2rem

  &:hover
    border none
    color $white

  &:active&_size_big
    transform translateY(0.1875rem)
    box-shadow none

  &:active&_size_small
    transform translateY(0.125rem)
    box-shadow none
