aside.news__categories
    ul.news__categories-list
        li.news__category.news__category_selected
            a(href="/mock-address/" class="news__category-link") All news
        li.news__category
            a(href="/mock-address/" class="news__category-link") World
        li.news__category
            a(href="/mock-address/" class="news__category-link") Russia
        li.news__category
            a(href="/mock-address/" class="news__category-link") Business
        li.news__category
            a(href="/mock-address/" class="news__category-link") Technologies
        li.news__category
            a(href="/mock-address/" class="news__category-link") Entertainment
        li.news__category
            a(href="/mock-address/" class="news__category-link") Sports