ul.news__categories 
    li.news__category.news__category-all.news__category_selected
        a(href="#" class="news__category-link") All news        
    li.news__category.news__category-world
        a(href="#" class="news__category-link") World
    li.news__category.news__category-russia
        a(href="#" class="news__category-link") Russia
    li.news__category.news__category-business
        a(href="#" class="news__category-link") Business
    li.news__category.news__category-technologies
        a(href="#" class="news__category-link") Technologies
    li.news__category.news__category-entertainment
        a(href="#" class="news__category-link") Entertainment
    li.news__category.news__category-sports
        a(href="#" class="news__category-link") Sports