@import "../../colors"

.user-avatar
  height 5.25rem
  width 5.25rem
  border-radius 50%
  border 0.25rem solid $grey-e5
  background-size cover

  @media (max-width 600px)
    height 4.375rem
    width 4.375rem
    vertical-align middle
