@import "../../colors"

.event-main-info
  max-width 31.25rem
  margin 0 auto

  &__title-field
    height 1.875rem
    margin-bottom 0.625rem
    height 1.875rem

  &__description-field
    height 10.625rem
