include __stage/new-event__stage.pug
include ../event-options/event-options.pug
include ../event-speakers/event-speakers.pug
include ../standard-button/standard-button.pug

.new-event
    h1.new-event__page-title Create an event
    include __main-info/new-event__main-info.pug
    include __place/new-event__place.pug

    .new-event__container
        include __date/new-event__date.pug
        +new-event__stage({title: "Set the event options", narrow: true})
            +event-options

    +new-event__stage({title: "Add speakers"})
        - const speakers = JSON.parse(fs.readFileSync("src/blocks/new-event/block-data/speakers.json", "utf8"));
        +event-speakers(speakers)

    .new-event__exit-buttons
        form.new-event__cancel(action="events.html")
            +standard-button({size: "big", color: "cyan", label: "cancel"})
        form.new-event__finish(action="events.html")
            +standard-button({size: "big", color: "cyan", label: "finish"})
