@import "__stage/new-event__stage.styl"

.new-event
  text-align center
  width 43.75rem
  margin 0 auto

  @media (max-width 760px)
    width 94.21%

  &__page-title
    margin-top 0

  &__container
    display flex
    justify-content space-between

    @media (max-width 710px)
      display block

  &__calendar
    margin 0 auto
    width 17.4375rem

  &__exit-buttons
    display flex
    justify-content space-between
