@import "__stage/new-event__stage.styl"
@import "__date/new-event__date.styl"
@import "__main-info/new-event__main-info.styl";

.new-event
  text-align center
  width 43.75rem
  margin 0 auto

  @media (max-width 760px)
    width 94.21%

  &__page-title
    margin-top 0

  &__container
    display flex
    justify-content space-between

    @media (max-width 710px)
      display block

  &__exit-buttons
    display flex
    justify-content space-between
