include __stage/new-event__stage.pug
include ../event-main-info/event-main-info.pug
include ../location/location.pug
include ../calendar/calendar.pug
include ../event-options/event-options.pug
include ../event-speakers/event-speakers.pug
include ../standard-button/standard-button.pug

mixin new-event
    main.new-event
        h1.new-event__page-title Create an event
        +new-event__stage({title: "Add a title and a description"})
            +event-main-info

        +new-event__stage({title: "Choose a place"})
            +location({title: "Choose a place", localAddress: "Lenina 12", globalAddress: "Tomsk, Russia", hideAddress: true})

        .new-event__container
            +new-event__stage({title: "Pick a date", narrow: true})
                .new-event__calendar
                    +calendar
            +new-event__stage({title: "Set the event options", narrow: true})
                +event-options

        +new-event__stage({title: "Add speakers"})
            +event-speakers(newEventData.speakers)

        .new-event__exit-buttons
            form.new-event__cancel(action="events.html")
                +standard-button({size: "big", color: "cyan", label: "cancel"})
            form.new-event__finish(action="events.html")
                +standard-button({size: "big", color: "cyan", label: "finish"})
