include __content/videos__content.pug

mixin videos
    main.videos
        - const videos = JSON.parse(fs.readFileSync("src/blocks/videos/block-data/videos.json", "utf8"));
        include __header/videos__header.pug
        +videos__content(videos)
