extends ../layout/layout.pug
include ../video/video.pug
include ../standard-button/standard-button.pug
include ../search/search.pug
include ../dropdown/dropdown.pug

block content
    .videos
        header.videos__header
            .videos__buttons-search
                .videos__buttons
                    +standard_button("big", "red", "add a video")
                    +standard_button("big", "red", "find a video")            
                .videos__search
                    +search("Video search")
            .videos__order
                +dropdown(["by default", "by popularity", "newest first", "oldest first"])
        .videos__container
            +video("k3jlviX88iw")
            +video("kKrYAdB8XJ4")
            +video("Ih323XXu_3w")
            +video("rioXu6EBN0s")
            +video("zhA5LNA3MxE")
            +video("eh7lp9umG2I")
            +video("9h1UiqBuxO0")
            +video("YPbb2xspJHM")        