.videos-wrapper
    width: 1040px
    margin-left: auto
    margin-right: auto
    background-color: #ffffff
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2)

.videos
    position: relative
    margin-left: auto
    margin-right: auto
    padding: 20px 0
    width: 976px

    &__header
        margin-bottom: 20px
        padding-bottom: 20px
        border-bottom: 1px solid #e5e5e5    

    &__buttons
        float: right        

        .standard-button:first-child                    
            margin-right: 10px       
     
    .search      
        display: inline-block
        padding-top: 6px  

    &__container 
        padding: 0        
        border: none !important
        background-color: transparent

        .video
            margin-top: 8px
            margin-right: 8px            

    .ui-tabs 
        .ui-tabs-panel
            padding: 0            
            display: flex
            flex-wrap: wrap
            justify-content: flex-start
            margin-right: -8px           

        .ui-tabs-nav
            padding: 0
            border: none
            background-color: transparent

        .ui-tabs-anchor
            font-family: "Lato"
            font-weight: 400
        
        .ui-tabs-active
            background-color: #4eb7a8
            border-color: #4eb7a8            
        
        .ui-tabs-anchor:focus
            outline: none
            
    .dropdown
        width: 160px        

    .select2-container
        position: absolute
        right: 0
        top: 100px
        z-index: 1
        .selection 
            .select2-selection
                width: 160px

@media (max-width: 1024px)
    .videos-wrapper
        width: 770px
    
    .videos
        width: 648px

@media (max-width: 830px)
    .videos-wrapper
        width: 520px
    
    .videos
        width: 480px

        .video
            width: 480px
            height: 270px
        
        .search
            width: 200px

@media (max-width: 535px)
    .videos-wrapper
        width: 370px

    .videos
        width: 320px

        .search
            width: 240px

        &__buttons
            margin-top: 10px
            float: none

        .select2-container
            position: relative
            display: block
            top: -10px  
        .video
            width: 320px
            height: 180px

@media (max-width: 387px)
    .videos-wrapper
        width: 100%


