@import "../../colors"

.videos
  margin-left: auto
  margin-right: auto
  padding: 20px 32px
  background-color: $white
  box-shadow: 0 0 10px 0 $black-shadow
  width: 976px

  @media (max-width: 1080px)
    width: 648px

  @media (max-width: 750px)
    width: 480px

  @media (max-width: 600px)
    width: 320px

@import ("__header/videos__header.styl")

@import ("__content/videos__content.styl")
