extends ../layout/layout.pug
include ../video/video.pug
include ../dropdown/dropdown.pug

block content
    .videos-wrapper
        .videos
            include __header/videos__header.pug
            include __content/videos__content.pug         