include ../categories-navigation/categories-navigation.pug
include ../category-preview/category-preview.pug

mixin news
    main.news
        - const newsCategories = require("../../blocks/news/block-data/news-categories.json");
        - const newsArticles = require("../../blocks/news/block-data/news-articles.json");
        .news__categories-navigation
            +categories-navigation({categories: newsCategories.categories, selectedCategory: newsCategories.selected})
        .news__categories-preview
            each categoryAddress, categoryName in newsCategories.categories
                if (categoryName !== "All news")
                    .news__category-preview
                        +category-preview({categoryTitle: categoryName, articles: newsArticles})
