.news
  margin 0 auto
  width 80.625rem

  @media (max-width 1350px)
    width 65.625rem

  @media (max-width 1090px)
    width 100%

  &__categories-navigation
    position fixed
    float left

    @media (max-width 1350px)
      position static
      float none
      margin-bottom 0.625rem

  &__categories-preview
    float right

    @media (max-width 1090px)
      float none
      width 100%

  &__category-preview
    margin 0 auto 1.875rem

  &::after
    display block
    content ""
    clear both
