include ../categories-navigation/categories-navigation.pug
include ../category-preview/category-preview.pug

mixin news
    main.news
        - const newsCategories = require("../../blocks/news/block-data/news-categories.json");
        - const newsArticles = require("../../blocks/news/block-data/news-articles.json");
        .news__categories-navigation
            +categories-navigation({categories: newsCategories.categories, selectedCategory: newsCategories.selected})
        .news__categories-preview
            +category-preview({categoryTitle: "World", articles: newsArticles})
            +category-preview({categoryTitle: "Russia", articles: newsArticles})
            +category-preview({categoryTitle: "Business", articles: newsArticles})
            +category-preview({categoryTitle: "Technologies", articles: newsArticles})
            +category-preview({categoryTitle: "Entertainment", articles: newsArticles})
            +category-preview({categoryTitle: "Sports", articles: newsArticles})
