include ../categories-navigation/categories-navigation.pug
include ../category-preview/category-preview.pug

mixin news
    main.news
        .news__categories-navigation
            +categories-navigation({categories: newsData.categories.categoriesList, selectedCategory: newsData.categories.selected})
        .news__categories-preview
            each categoryAddress, categoryName in newsData.categories.categoriesList
                if (categoryName !== "All news")
                    .news__category-preview
                        +category-preview({categoryTitle: categoryName, articles: newsData.articles})
