include ../../../blocks/dropdown/dropdown.pug
include ../../../blocks/standard-button/standard-button.pug
include ../../../blocks/arrow-button/arrow-button.pug
include ../../../blocks/tick-box/tick-box.pug
include ../../../blocks/user-profile/user-profile.pug

div(class="event-new__options" id="options")
    h2.event-new__stage-title Set the event options

    .event-new__option
        .event-new__select-category
            +dropdown({options: ["","category1", "category2", "category3", "category4", "category5"]})

    .event-new__option.event-new__option_start
        label(for="event-new__event-start-field" class="event-new__event-start-label") Start time
        input(type="time" class="event-new__event-start-field" id="event-new__event-start-field")

    .event-new__option
        +tick-box({label: "By invitations only"})

    .event-new__option.event-new__option_image
        +tick-box({label: "Event image"})
        .event-new__add-image
            +standard-button({size: "big", color: "blue", label: "Add image"})

    .event-new__option.event-new__option_attendees
        +tick-box({label: "Limited attendees number"})
        .event-new__attendees-number-wrapper
            input.event-new__attendees-number

    .event-new__option.event-new__option_speakers
        +tick-box({label: "Speakers"})
        .event-new__speakers
            .event-new__added-speakers
                - for (i = 0; i < 3; i++)
                    div(class="event-new__speaker" tabindex=i)
                        .event-new__speaker-profile
                            +user-profile({color: "grey", name: "Speaker", profession: "Profession", photo: "img/user-profile-man.png"})
                        .event-new__speaker-info
                            h4.event-new__speaker-topic Topic:
                                span.event-new__speaker-topic-title Topic title
                            h4.event-new__speaker-start Start:
                                span.event-new__speaker-start-time Time

            .event-new__speakers-buttons
                +standard-button({size: "big", color: "blue", label: "add speaker"})
                +standard-button({size: "big", color: "blue", label: "remove speaker"})