include ../__stage/event-new__stage.pug

+event-new__stage({title: "Add a title and a description"})
    .event-new__main-info
        input.event-new__text-field.event-new__event-title(type="text" placeholder="Event title")
        textarea.event-new__text-field.event-new__event-description(placeholder="Event description")
