@import "../../../colors"

.event-new
  &__main-info
    max-width: 31.25rem
    margin: 0 auto

  &__text-field
    width: 100%
    background-color: $grey-e5
    outline: none
    border: none
    display: block
    border-radius: 0.25rem
    font-family: "Lato", "Arial", sans-serif
    color: $grey-66
    font-size: 0.875rem
    padding-left: 0.8125rem
    padding-right: 0.625rem
    box-sizing: border-box

    &:focus
      border: 0.125rem solid $grey-88
      padding-left: 0.6875rem

    &::placeholder
      color: $grey-88
      font-family: "Lato", "Arial", sans-serif

  &__event-title
    height: 1.875rem
    margin-bottom: 0.625rem
    line-height: 1.875rem

  &__event-description
    height: 10.625rem
    padding-top: 0.4375rem
    padding-bottom: 0.4375rem
    resize: none

    &:focus
      padding-top: 0.3125rem
