@import "../../../colors"

.event-new
  &__main-info
    max-width: 500px
    margin: 0 auto

  &__text-field
    width: 100%
    background-color: $grey-e5
    outline: none
    border: none
    display: block
    border-radius: 4px
    font-family: "Lato", "Arial", sans-serif
    color: $grey-66
    font-size: 14px
    padding-left: 13px
    padding-right: 10px
    box-sizing: border-box

    &:focus
      border: 2px solid $grey-88
      padding-left: 11px

    &::placeholder
      color: $grey-88
      font-family: "Lato", "Arial", sans-serif

  &__event-title
    height: 30px
    margin-bottom: 10px
    line-height: 30px

  &__event-description
    height: 170px
    padding-top: 7px
    padding-bottom: 7px
    resize: none

    &:focus
      padding-top: 5px
