extends ../page-template-logged-out/page-template-logged-out.pug
include ../../blocks/sign-in/sign-in.pug

block head
    meta(name="description" content="Sign in to the website")
    meta(name="keywords" content="sign in, login")
    title Sign in

block page-content
    +sign-in
