extends ../page-template-logged-in/page-template-logged-in.pug
include ../../blocks/articles/articles.pug

block head
    meta(name="description" content="Looking for the best articles to read? Browse this list of interesting articles and essays on topics like health, happiness, productivity and more.")
    meta(name="keywords" content="popular articles, best articles, funny articles")
    title Articles

block page-content
    +articles
