@import "../../colors"

.event-options
  list-style: none
  text-align: start
  padding: 0
  width: 80%

  &__option
    margin-bottom: 1.875rem

  &__event-start
    padding-left: 5.3125rem
    position: relative
    display: block
    height: 1.5625rem
    line-height: 1.5625rem

  &__event-start-picker
    display: block
    position: absolute
    left: 0
    top: 0
    font-size: 1rem
    background-color: $grey-e5
    outline-color: $grey-22
    border: none
    color: $grey-66
    border-radius: 0.25rem

  &__add-image-btn
  &__attendees-spinner
    margin-top: 0.9375rem
