.events-my-events
  width: 593px
  float: left

  &__search
    margin-bottom: 20px
    width: 593px

  &__map
    clear: both

  &__location
    margin-top: 10px

  &__events
    display: flex
    flex-wrap: wrap
    justify-content: flex-start
    margin-right: -17px
    margin-top: 20px

  &__event
    margin-right: 17px
    margin-bottom: 15px

  &__next-prev-buttons
    margin-left: auto
    margin-right: auto
    width: 115px

  &__prev-button
    margin-right: 15px