include ../page-section/page-section.pug
include ../toggle/toggle.pug
include ../location/location.pug
include ../search/search.pug
include ../event/event.pug
include ../arrow-button/arrow-button.pug

mixin events-my-events(eventList)
    +page-section("My events", "events-my-events")
        .events-my-events__search
            +search({placeholder: "Event search"})
        .events-my-events__map
            .events-my-events__map-toggle
                +toggle({enabled: true, label: "Events map", color: "red", shape: "square"})
            .events-my-events__location
                +location({localAddress: "Lenina Street 14", globalAddress: "Tomsk, Russia", title: "My events"})
        .events-my-events__events
            - for (let event of eventList)
                .events-my-events__event
                    +event(event)
        .events-my-events__next-prev-buttons
            .events-my-events__prev-button
                +arrow-button({direction: "left", disabled: true})
            +arrow-button({direction: "right"})
