.events-my-events
  width 37.0625rem
  float left

  @media (max-width 1085px)
    float none

  @media (max-width 705px)
    box-sizing border-box
    width 100%
    margin 0 auto

  &__search
    margin-bottom 1.25rem
    width 100%

  &__location
    margin-top 0.625rem
    width 100%

  &__events
    margin-top 1.25rem
    display flex
    flex-wrap wrap
    justify-content space-between

  &__event
    margin-bottom 0.9375rem
    width 18rem

    @media (max-width 705px)
      width 48.563%

  &__next-prev-buttons
    margin-left auto
    margin-right auto
    width 7.1875rem

  &__prev-button
    display inline-block
    margin-right 0.9375rem
