mixin percentage(value, mixClass = "")
    - mixClass = mixClass ? " " + mixClass : mixClass;
    div(class="percentage js-percentage" + mixClass)
        .percentage__value.js-percentage__value=value