.page-header
  box-sizing: border-box
  width: 100%
  height: 60px
  background-color: #444444
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3)
  position: fixed
  top: 0
  z-index: 1

  &__content
    width: 1040px
    height: 100%
    margin: 0 auto
    display: flex
    justify-content: space-between
    align-items: center

  &__menu-icon
    display: none
    cursor: pointer

  &__menu-bar
    width: 20px
    height: 2px
    background-color: #dddddd
    margin: 4px 0

  &__logo
    font-family: "Lato", "Arial", sans-serif
    font-weight: 900
    text-transform: uppercase
    font-size: 35px
    color: #eeeeee
    text-decoration: none

    &:active
      transform: translateY(1px)

  &__nav-items
    list-style: none
    padding: 0

  &__nav-item
    display: inline-block
    cursor: pointer
    padding-right: 30px

    &:last-child
      padding-right: 0

  &__nav-link
    font-family: "Lato", "Arial", sans-serif
    font-weight: 700
    font-size: 18px
    color: #dddddd
    text-decoration: none

    &:hover
      color: #fefefe

  &__nav_open
    overflow: visible
    position: absolute
    background-color: #444444
    border-top: 1px solid #e5e5e5
    top: 60px
    left: 0
    width: 100%

    & ^[0]__nav-items
        display: flex
        justify-content: space-around

  &__profile-photo
    width: 40px
    height: 40px
    background: url("img/profile-photo.png")
    background-size: cover
    border-radius: 50%
    border: 2px solid #ececec

  &__search
    width: 288px


/*@media (max-width: 1110px)
    .page-header
        &__content
            width: 95.151%

@media (max-width: 1000px)
    .page-header
        .search
            width: 255px

@media (max-width: 950px)
    .page-header
        .search
            width: 210px

@media (max-width: 900px)
    .page-header
        &__nav-item:not(:last-child)
            padding-right: 20px

        &__nav-link
            font-size: 16px

@media (max-width: 850px)
    .page-header
        &__nav-item:not(:last-child)
            padding-right: 15px

@media (max-width: 800px)
    .page-header
        .search
            width: 160px

        &__nav-item:not(:last-child)
            padding-right: 10px

@media (max-width: 765px)
    .page-header
        &__content
            justify-content: flex-start

        .search
            flex-grow: 1
            display: flex
            justify-content: flex-end
            margin: 0 15px

            &__field
                flex-grow: 1

            &__button
                position: static

        &__nav_default
            height: 0
            width: 0
            overflow: hidden

        &__menu
            margin-right: 10px
            display: block*/