include ../search/search.pug

header.page-header.js-page-header
    .page-header__content
        .page-header__menu-icon.js-page-header__menu-icon
            .page-header__menu-bar
            .page-header__menu-bar
            .page-header__menu-bar
        a(href="index.html" class="page-header__logo") logo
        nav.page-header__nav.js-page-header__nav
            ul.page-header__nav-items
                li.page-header__nav-item
                    a(href="news.html" class="page-header__nav-link") News
                li.page-header__nav-item
                    a(href="events.html" class="page-header__nav-link") Events
                li.page-header__nav-item
                    a(href="event-new.html" class="page-header__nav-link") New event
                li.page-header__nav-item
                    a(href="articles.html" class="page-header__nav-link") Articles
                li.page-header__nav-item
                    a(href="videos.html" class="page-header__nav-link") Videos

        .page-header__search
            +search({placeholder: "Search", buttonColor: "grey"})
        .page-header__profile-photo