@import "../../colors"

html
  overflow-y scroll
  background-color $grey-f2
  font-family "Lato", "Arial", sans-serif
  color $grey-55
  font-size 16px

.logged-in-page
  margin 0
  padding 80px 0 20px
