.event-new
  &__stage
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2)
    background-color: #fff
    padding: 25px 20px

    &_narrow
      box-sizing: border-box
      width: 49%

  &__stage-title
    margin-top: 0