include ../search-section/search-section.pug
include ../articles-filter/articles-filter.pug
include ../popular-articles/popular-articles.pug

mixin articles(articlesData)
    main.articles
        .articles__search-filter
            .articles__search
                +search-section({searchPlaceholder: "Articles search"})
            .articles__filter
                +articles-filter
        .articles__popular
            +popular-articles(articlesData.popular)
