include ../search-section/search-section.pug
include ../articles-filter/articles-filter.pug
include ../articles-popular/articles-popular.pug

mixin articles
    main.articles
        .articles__search-filter-container
            .articles__search
                +search-section({searchPlaceholder: "Articles search"})
            +articles-filter
        - const popularArticles = require("../../blocks/articles/block-data/popular-articles.json");
        +articles-popular(popularArticles)
