extends ../layout/layout.pug

include ../slider/slider.pug
include ../user-profile/user-profile.pug
include ../percentage/percentage.pug
include ../pie-chart/pie-chart.pug
include ../search/search.pug
include ../standard-button/standard-button.pug
include ../dropdown/dropdown.pug

block content
    .articles
        .articles__left
            .articles__search.articles__container
                h2.articles__title Search
                +search("Article search")

            ul.articles__categorier.articles__container
                h2.articles__title Categories
                li.articles__category.articles__category-all.articles__category_selected
                    a(href="#" class="articles__category-link") Popular     
                li.articles__category.articles__category-cat1
                    a(href="#" class="articles__category-link") Category1
                li.articles__category.articles__category-cat2
                    a(href="#" class="articles__category-link") Category2
                li.articles__category.articles__category-cat3
                    a(href="#" class="articles__category-link") Category3
                li.articles__category.articles__category-cat4
                    a(href="#" class="articles__category-link") Category4
                li.articles__category.articles__category-cat5
                    a(href="#" class="articles__category-link") Category5           
    
            .articles__filter.articles__container
                h2.articles__title Filter
                form.articles__filter-form  
                    .articles__filter-author
                        h4.articles__filter-title Author                             
                        input(type="text" class="articles__filter-author-field" placeholder="Any author")
                    .articles__filter-rating
                        h4.articles__filter-title Minimum rating
                        .articles__slider-wrapper
                            +slider("type-a", 0, 100)
                    .articles__filter-tags 
                        h4.articles__filter-title Tags                
                        +dropdown(["tag1", "tag2", "tag3", "tag4", "tag5", "tag6", "tag7", "tag8", "tag9", "tag10"])
                    +standard_button("big", "red", "Show")
        .articles__popular.articles__container
            h2.articles__title Popular
        //.articles__recommended.articles__container        