.articles
  width: 74.25rem
  margin-left: auto
  margin-right: auto
  display: flex
  justify-content: space-between

  @media (max-width: 1310px)
    width: 90.68%

  @media (max-width: 910px)
    display: block

  &__search-filter-container
    width: 30%

    @media (max-width: 910px)
      width: 100%
