.articles
    display: flex
    justify-content: space-between

    &__left
        width: 350px

    &__container
        margin-bottom: 30px
        background-color: #ffffff
        padding: 20px 30px
        border-radius: 5px
        box-shadow: 0 0 10px 0 rgba(0,0,0,0.2)

    &__categories        
        padding: 0
        margin: 0        
        list-style: none                     

    &__category
        cursor: pointer
        display: block
        line-height: 40px

        &:last-child
            border: none        

        &-link
            text-decoration: none
            font-family: "Lato"
            color: #aaaaaa
            padding-left: 10px

        &_selected
            background-color: #eeeeee

            & > a 
                color: #888888
        
        &:hover
            background-color: #f9f9f9
    
    &__title
        margin-top: 0
        text-decoration: none
        font-family: "Lato"
        font-weight: 900
        text-transform: uppercase
        color: #aaaaaa
        font-size: 20px
        border-bottom: 2px solid #e5e5e5

    &__filter
        &-title
            font-family: "Lato"
            font-weight: 400
            color: #444444
            margin: 20px 0
        
        &-author-field
            box-sizing: border-box
            outline: none
            border: none
            width: 288px
            height: 28px
            background-color: #e5e5e5
            padding-left: 13px
            padding-bottom: 4px
            font-family: "Lato"
            font-weight: 400
            font-style: normal
            font-stretch: normal
            font-size: 14px
            letter-spacing: 0.01em        
            color: #666666

        &-tags
            margin-bottom: 20px       

    &__slider-wrapper
        height: 50px
        padding-left: 19px

        & .slider
            top: 38px

.select2-container
    .select2-dropdown
        .select2-results 
            .select2-results__option[aria-selected="true"]
                color: #aaaaaa
