include __stage/event-new__stage.pug
include ../event-options/event-options.pug
include ../event-speakers/event-speakers.pug
include ../standard-button/standard-button.pug

.event-new
    h1.event-new__page-title Create an event
    include __main-info/event-new__main-info.pug
    include __place/event-new__place.pug

    .event-new__container
        include __date/event-new__date.pug
        +event-new__stage({title: "Set the event options", narrow: true})
            +event-options

    +event-new__stage({title: "Add speakers"})
        - const speakerProfile = {color: "grey", name: "Speaker", profession: "Profession", photo: "img/user-profile-man.jpg"};
        - const speaker = {profile: speakerProfile, topicTitle: "Topic title", startTime: "00:01"};
        +event-speakers(Array(10).fill(speaker))

    .event-new__exit-buttons
        form.event-new__cancel(action="events.html")
            +standard-button({size: "big", color: "cyan", label: "cancel"})
        form.event-new__finish(action="events.html")
            +standard-button({size: "big", color: "cyan", label: "finish"})
