extends ../layout/layout.pug

include ../stages/stages.pug
include ../location/location.pug
include ../arrow-button/arrow-button.pug
include ../tick-box/tick-box.pug
include ../slider/slider.pug
include ../standard-button/standard-button.pug

block content
    .event-new-wrapper
        .event-new
            h1.event-new__main-title Create an event
            .event-new__stages
                +stages(4)
            .event-new__content
                ul
                    li
                        a(href="#place")
                    li
                        a(href="#date")
                    li
                        a(href="#title-description")
                    li
                        a(href="#options")
                include __place/event-new__place.pug
                include __date/event-new__date.pug
                include __title-description/event-new__title-description.pug
                include __options/event-new__options.pug
                .event-new__buttons
                    .event-new__button_left
                        +arrow_button("left", "disabled")
                    .event-new__button_right
                        +arrow_button("right")        
            
            .event-new__exit-buttons
                form(action="events.html" class="event-new__cancel")
                    +standard_button("big", "blue", "cancel")
                form(action="events.html" class="event-new__finish")
                    +standard_button("big", "blue", "finish")               
    