@import "__stage/event-new__stage.styl"
@import "__date/event-new__date.styl"
@import "__main-info/event-new__main-info.styl";

.event-new
  text-align: center
  width: 43.75rem
  margin: 0 auto

  @media (max-width: 760px)
    width: 94.21%

  &__page-title
    margin-top: 0

  &__container
    display: flex
    justify-content: space-between

    @media (max-width: 710px)
      display: block

  &__exit-buttons
    display: flex
    justify-content: space-between
