include ../../../blocks/calendar-section/calendar-section.pug
include ../../../blocks/search-section/search-section.pug
include ../../../blocks/new-event-section/new-event-section.pug
include ../../../blocks/recommended-events/recommended-events.pug

.events__right
    +calendar-section("events__calendar")
    +search-section("Events search", "events__search")
    +new-event-section("events__new")
    +recommended-events("events__recommended")