/*.events
    &__right > &__container:first-child
        .events__title
            width: 279px
            margin-left: auto
            margin-right: auto
        .calendar
            margin-left: auto
            margin-right: auto

    &__new
        display: block
        width: 200px
        margin-left: auto
        margin-right: auto

        .standard-button
            width: 200px


    &__see-more
        text-decoration: none
        font-family: "Lato"
        color: #4ab7a8
        text-transform: uppercase
        font-weight: 700

        &:hover
            color: #4a9aaf*/