include ../../dropdown/dropdown.pug
include ../../tick-box/tick-box.pug
include ../../slider/slider.pug
include ../../user-profile/user-profile.pug
include ../../standard-button/standard-button.pug

div(class="event-new__stage-info" id="stage-info")
    h2.event-new__stage-title Info & options
    .event-new__info
        h4.event-new__info-title Event title
        input(type="text" class="event-new__event-title-field" id="event-new__event-title-field")
    
    .event-new__info
        h4.event-new__info-title Event description
        textarea(class="event-new__event-description-field" id="event-new__event-description-field")
    
    .event-new__info  
        h4.event-new__info-title Select category
        .event-new__select-category
            +dropdown(["category1", "category2", "category3", "category4", "category5"])
    
    .event-new__info    
        h4.event-new__info-title Event options
        .event-new__option.event-new__option_invitations        
            +tick_box("By invitations only")

        .event-new__option.event-new__option_attendees
            +tick_box("Limited attendees")
            .event-new__attendees-spinner-wrapper           
                input.event-new__attendees-spinner

        .event-new__option.event-new__option_speakers
            +tick_box("Speakers")
            table.event-new__speakers                
                tr.event-new__speaker
                    td
                        +user_profile("grey", "Speaker", "Profession", "img/user-profile-man.png")
                    td
                        h4.event-new__speakers-topic Topic: 
                            span.event-new__speakers-topic-title Topic title
                        h4.event-new__speakers-topic Start: 
                            span.event-new__speakers-topic-title 2 p.m.
                        
                tr.event-new__speaker
                    td
                        +user_profile("grey", "Speaker", "Profession", "img/user-profile-woman.png")
                    td
                        h4.event-new__speakers-topic Topic: 
                            span.event-new__speakers-topic-title Topic title
                        h4.event-new__speakers-topic Start: 
                            span.event-new__speakers-topic-title 10 a.m.
                
                tr
                    td
                        +standard_button("big", "blue", "add speaker")