.event-new
    &__event-title-field,
    &__event-description-field,
    &__attendees-spinner,
    &__admission-spinner
        background-color: #e5e5e5
        outline: none
        border: none        
        border-radius: 4px
        color: #666666
        font-size: 14px
        padding-left: 13px
        padding-right: 10px
        font-family: "Lato"
        font-weight: 400
        letter-spacing: 0.01em
    
    &__event-title-field
        height: 25px
    
    &__event-description-field
        height: 90px
        width: 270px
        padding-top: 7px
        padding-bottom: 7px
        resize: none
    
    &__select-category
        .dropdown
            width: 182px

    &__option
        margin-bottom: 25px

        .tick-box
            margin-bottom: 10px
       
        .ui-spinner
            border: none
            height: 25px
            width: 100px            

            .ui-spinner-input
                width: 80px
                margin: 0
                height: 100%
                box-sizing: border-box
            
            .ui-spinner-button:active
                border: none
                background: #888888

    &__info
        margin-bottom: 35px

        &-title
            font-family: "Lato"
            text-transform: uppercase
    
    &__option_speakers
        margin-bottom: 0
    
    &__speakers        
        width: 70%
        border-collapse: collapse        

        td
            padding: 15px 0
        
        
    &__speaker td
        border-bottom: 1px solid #e5e5e5
        border-top: 1px solid #e5e5e5
        vertical-align: middle

        .user-profile
            display: inline

.standard-button
    font-family: "Lato"
    font-size: 12px            