.event-new
    &__event-title-field,
    &__event-description-field
        background-color: #e5e5e5
        outline: none
        border: none 
        display: block       
        border-radius: 4px
        color: #666666
        font-size: 14px
        padding-left: 13px
        padding-right: 10px
        font-family: "Lato" !important
        font-weight: 400
        letter-spacing: 0.01em
        margin-left: auto
        margin-right: auto

        &::placeholder
            color: #888888
            font-family: "Lato"
    
    &__event-title-field
        height: 30px
        width: 350px
        margin-bottom: 10px
        line-height: 30px
    
    &__event-description-field
        height: 120px
        width: 350px
        padding-top: 7px
        padding-bottom: 7px
        resize: none