@import "../../colors"

.recommended-events
  &__events
    @media (max-width 1085px)
      display flex
      justify-content space-between
      flex-wrap wrap

  &__event
    margin-bottom 0.9375rem
    width 18rem

    @media (max-width 705px)
      width 48.563%

  &__see-more
    text-decoration none
    font-family "Lato", "Arial", sans-serif
    color $main-cyan
    text-transform uppercase
    font-weight 700

    &:hover
      color $light-blue
