include ../event/event.pug
include ../page-section/page-section.pug

mixin recommended-events(eventList)
    +page-section({sectionTitle: "Recommended", addedClass: "recommended-events"})
        .recommended-events__events
            each event in eventList
                .recommended-events__event
                    +event(event)
        a.recommended-events__see-more(href="/mock-address/") See more
