include ../event/event.pug
include ../page-section/page-section.pug

mixin recommended-events({events = []} = {})
    +page-section({sectionTitle: "Recommended", addedClass: "recommended-events"})
        .recommended-events__events
            each eventData in events
                .recommended-events__event
                    +event(eventData)
        a.recommended-events__see-more(href="/mock-address/") See more
