.articles-filter
  margin-bottom: 25px
  position: sticky
  top: 70px

  &__form
    @media (max-width: 900px)
      margin: 0 auto
      max-width: 420px

    @media (max-width: 600px)
      width: 288px

  /*&__option
    margin-bottom: 25px

    @media (max-width: 900px)
      display: flex
      justify-content: space-between

    @media (max-width: 600px)
      display: block*/

  &__option-title
    font-family: "Lato", "Arial", sans-serif
    font-size: 15px
    color: #444444
    margin-bottom: 15px

  &__option-value
    margin: 0
    margin-bottom: 20px
    max-width: 288px

  &__author-field
    box-sizing: border-box
    border: none
    width: 288px
    height: 28px
    background-color: #e5e5e5
    padding-left: 13px
    padding-right: 5px
    font-family: "Source Sans Pro", "Arial", sans-serif
    font-size: 14px
    color: #666666

    &:focus
      outline: 2px solid #888888

  &__rating
    @media (max-width: 900px)
      align-items: flex-end