include ../page-section/page-section.pug
include ../standard-button/standard-button.pug
include ../dropdown/dropdown.pug
include ../slider/slider.pug

mixin articles-filter
    +page-section("Filter", "articles-filter")
        form.articles-filter__form
            dl.articles-filter__options
                dt.articles-filter__option-title Author
                dd.articles-filter__option-value
                    input(type="text" class="articles-filter__author-field" placeholder="Any author")

                dt.articles-filter__option-title Tags
                dd.articles-filter__option-value
                    +dropdown({options: ["tag1", "tag2", "tag3", "tag4", "tag5"], multiple: true, hasDefault: true})

                dt.articles-filter__option-title Category
                dd.articles-filter__option-value
                    +dropdown({options: ["popular", "category1", "category2", "category3"], hasDefault: true})

                dt.articles-filter__option-title Minimum rating
                dd.articles-filter__option-value
                    +slider({type: "red", min: 0, max: 100})

            .articles-filter__show-btn
                +standard-button({size: "big", color: "red", label: "Show"})