include ../page-section/page-section.pug
include ../standard-button/standard-button.pug
include ../dropdown/dropdown.pug
include ../slider/slider.pug

mixin articles-filter
    +page-section("Filter", "article-filter")
        form.articles-filter__form
            .articles-filter__author
                .articles-filter__option-title Author
                input(type="text" class="articles-filter__author-field" placeholder="Any author")
            .articles-filter__rating
                .articles-filter__option-title Minimum rating
                +slider({type: "red", min: 0, max: 100})
            .articles-filter__tags
                .articles-filter__option-title Tags
                +dropdown({options: ["tag1", "tag2", "tag3"], multiple: true, hasDefault: true})
            .articles-filter__category
                .articles-filter__option-title Category
                +dropdown({options: ["popular", "category1", "category2", "category3"], hasDefault: true})
            +standard-button({size: "big", color: "red", label: "Show", mixClass: "articles-filter__show-btn"})