@import "../../colors"

.articles-filter
  &__options
    list-style none
    padding 0

    @media (max-width 910px)
      display flex
      justify-content space-between
      flex-wrap wrap

  &__option
    margin-bottom 1.25rem

    @media (max-width 910px)
      width 47%

  &__option-title
    font-family "Lato", "Arial", sans-serif
    font-size 0.9375rem
    color $grey-44
    margin-bottom 0.9375rem

  &__author-field
    box-sizing border-box
    border none
    width 100%
    height 1.75rem
    background-color $grey-e5
    padding-left 0.8125rem
    padding-right 0.3125rem
    font-family "Source Sans Pro", "Arial", sans-serif
    font-size 0.875rem
    color $grey-66

    &:focus
      outline 0.125rem solid $grey-88
