include __navigation-button/home__navigation-button.pug

.home
    nav.home__navigation
        +navigation-button("News", "news.html")
        +navigation-button("Events", "events.html")
        +navigation-button("New Event", "event-new.html")
        +navigation-button("Articles", "articles.html")
        +navigation-button("Videos", "videos.html")
        +navigation-button("Sign in", "sign-in.html")