@import "__navigation-button/home__navigation-button"

.home
  width: 100%
  min-height: 100vh
  display: flex
  align-items: center
  justify-content: center

  &__navigation
    display: flex
    justify-content: center
    flex-wrap: wrap

    @media (max-width: 1290px)
      width: 39.375rem

    @media (max-width: 448px)
      width: 12.5rem
