include ../navigation-button/navigation-button.pug

mixin home
    .home
        nav.home__navigation
            .home__navigation-button
                +navigation-button({label: "news", address: "news.html"})
            .home__navigation-button
                +navigation-button({label: "events", address: "events.html"})
            .home__navigation-button
                +navigation-button({label: "new event", address: "new-event.html"})
            .home__navigation-button
                +navigation-button({label: "articles", address: "articles.html"})
            .home__navigation-button
                +navigation-button({label: "videos", address: "videos.html"})
            .home__navigation-button
                +navigation-button({label: "sign in", address: "sign-in.html"})
