include ../__stage/new-event__stage.pug
include ../../location/location.pug

mixin new-event__place
    +new-event__stage({title: "Choose a place"})
        +location({title: "Choose a place", localAddress: "Lenina 12", globalAddress: "Tomsk, Russia", hideAddress: true})
