extends ../page-template/page-template.pug
include ../video/video.pug
include ../dropdown/dropdown.pug


block page-title
    title Videos

block page-content
    .videos-wrapper
        .videos
            include __header/videos__header.pug
            include __content/videos__content.pug