extends ../page-template-logged-in/page-template-logged-in.pug
include ../../blocks/videos/videos.pug

block head
    meta(name="description" content="Share your videos with friends, family, and the world.")
    meta(name="keywords" content="videos, my videos, videos playlist, add video, add playlist")
    title Videos

block page-content
    - const videosData = require("./block-data.json");
    +videos
