.videos
  position: relative
  margin-left: auto
  margin-right: auto
  padding: 20px 32px
  background-color: #ffffff
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.2)
  width: 976px

  @media (max-width: 1080px)
    width: 648px

  @media (max-width: 750px)
    width: 480px

  @media (max-width: 600px)
    width: 320px

@import ("__header/videos__header.styl");

@import ("__content/videos__content.styl");

  /*&__display-order
    width: 160px

  .select2-container
    position: absolute
    right: 0
    top: 100px
    z-index: 1*/

@media (max-width: 538px)

       .select2-container
            position: relative
            display: block
            top: 10px
            margin-top: 10px
