.articles 
    &__filter
        &-title
            font-family: "Lato"
            font-weight: 400
            color: #444444
            margin: 20px 0
        
        &-author-field
            box-sizing: border-box
            outline: none
            border: none
            width: 288px
            height: 28px
            background-color: #e5e5e5
            padding-left: 13px
            padding-bottom: 4px
            font-family: "Lato"
            font-weight: 400
            font-style: normal
            font-stretch: normal
            font-size: 14px
            letter-spacing: 0.01em        
            color: #666666

        &-tags
            margin-bottom: 20px       

    &__slider-wrapper
        height: 50px
        padding-left: 15px

        & .slider
            top: 38px