include ../search/search.pug
include ../page-section/page-section.pug

mixin articles-search
    +page-section({sectionTitle: "Search", addedClass: "articles-search"})
        +search({placeholder: "Aticles search"})
