.news 
   &__container-category-wrapper
        width: 890px
        margin-left: 80px
        padding-bottom: 2px
        border-bottom: 2px solid #e5e5e5
    
    &__container-category
        text-decoration: none
        font-family: "Lato"
        font-weight: 900
        text-transform: uppercase
        color: #aaaaaa
        font-size: 20px

        &:hover
            color: #888888
  
    &__items-container
        box-sizing: border-box      
        position: relative
        margin-left: auto
        margin-right: auto
        margin-bottom: 30px
        width: 1050px
        height: 300px
        padding-top: 20px
        padding-bottom: 0
        background-color: #ffffff
        box-shadow: 0 0 10px 0 rgba(0,0,0,0.2)

    &__button-wrapper
        position: absolute
        top: 131px

        &_right
            right: 20px

        &_left
            left: 20px         
 
    &__items
        margin: 10px auto
        width: 890px  
        display: flex
        justify-content: space-between

        .news
            flex-shrink: 0