include ../section-title/section-title.pug
include ../arrow-button/arrow-button.pug
include ../news-article-preview/news-article-preview.pug

mixin category-preview({categoryTitle = "Title", categoryAddress = "/mock-address/", articles = []} = {})
    section.category-preview
        +section-title(categoryTitle, categoryAddress)
        .category-preview__content
            each article in articles
                .category-preview__article-preview
                    +news-article-preview(article)
        .category-preview__scroll-btn.category-preview__scroll-btn_left
            +arrow-button({direction: "left", long: true})
        .category-preview__scroll-btn.category-preview__scroll-btn_right
            +arrow-button({direction: "right", long: true})
