extends ../page-template-logged-out/page-template-logged-out.pug

block head
    meta(name="description" content="Sign up to the website")
    meta(name="keywords" content="sign up, create account, new account")
    title Sign up

block page-content
    include ../../blocks/sign-up/sign-up.pug