@import "../../../colors"

.home__navigation-button
  font-family: "Lato", "Arial", sans-serif
  font-size: 1.625rem
  font-weight: 900
  height: 8em
  width: 8em
  background-color: $white
  border: none
  outline: none
  color: $grey-88
  text-transform: uppercase
  box-shadow: 0 0 0.4em 0 $black-shadow
  transition: transform .2s ease-in-out
  cursor: pointer

  &:hover
    transform: scale(1.1)

  &:focus
    background-color: $grey-ec

  &-wrapper
    margin-right: 0.6em

    &:last-child
      margin-right: 0

    @media (max-width: 1290px)
      margin-bottom: 0.3em
      margin-top: 0.3em

      &:nth-child(3)
        margin-right: 0

    @media (max-width: 646px)
      margin-right: 0.6em

      &:nth-child(3)
        margin-right: 0.6em

      &:nth-child(2n)
        margin-right: 0

    @media (max-width: 448px)
      &:nth-child(2n - 1)
        margin-right: 0
