extends ../page-template/page-template.pug

include __stage/event-new__stage.pug
include ../../blocks/event-options/event-options.pug
include ../../blocks/standard-button/standard-button.pug
include ../../blocks/event-speakers/event-speakers.pug

block page-title
    title New event

block page-content
    .event-new
        h1.event-new__page-title Create an event
        include __main-info/event-new__main-info.pug
        include __place/event-new__place.pug

        .event-new__container
            include __date/event-new__date.pug
            +event-new__stage({title: "Set the event options", narrow: true})
                +event-options

        +event-new__stage({title: "Add speakers"})
            +event-speakers

        .event-new__exit-buttons
            form(action="events.html" class="event-new__cancel")
                +standard-button({size: "big", color: "blue", label: "cancel"})
            form(action="events.html" class="event-new__finish")
                +standard-button({size: "big", color: "blue", label: "finish"})

    script(src="https://maps.google.com/maps/api/js?key=AIzaSyAOCIrJxKv-dWFvk6Ki9Wix-mJPiKKBKHc")