mixin search({placeholder = "Search", notFound = false, buttonColor = "red"} = {})
    form.search
        input.search__field(
            class=notFound ? "search__field_not-found" : ""
            type="text"
            placeholder=placeholder
        )
        button(class=`search__button search__button_color_${buttonColor}`)
            i.fa.fa-search.search__icon(aria-hidden="true")
