mixin search({placeholder, notFound = false})
	form.search
		if (notFound)
			input(type="text" placeholder=placeholder class="search__field search__field_not-found")
		else
			input(type="text" placeholder=placeholder class="search__field")
		button(class="search__button")
			i(class="fa fa-search search__icon" aria-hidden="true")