@import "../../colors"

.search
  &__field
    box-sizing: border-box
    outline: none
    border: none
    height: 28px
    width: calc(100% - 33px)
    background-color: $grey-e5
    border-radius: 3px 0 0 3px
    padding-left: 13px
    padding-bottom: 4px
    font-family: "Source Sans Pro", "Arial", sans-serif
    font-weight: 400
    font-style: normal
    font-stretch: normal
    font-size: 14px
    letter-spacing: 0.01em
    color: $grey-66

    &:focus
      border: 2px solid $grey-88
      padding-left: 11px

    &::placeholder
      color: $grey-88

    &_not-found
      background-color: $main-red

      &::placeholder
        color: $white

  &__button
    vertical-align: top
    outline: none
    border: none
    height: 28px
    width: 33px
    border-radius: 0 3px 3px 0
    color: $white
    cursor: pointer

    &_color_red
      background-color: $main-red
      &:hover,
      &:focus
        background-color: $dark-red

    &_color_grey
      background-color: $grey-9d
      &:hover,
      &:focus
        background-color: $grey-88
