include ../../standard-button/standard-button.pug
include ../../search/search.pug

header.videos__header
    .videos__search
        +search({placeholder: "Video search"})
    .videos__buttons
        .videos__add-video
            +standard-button({size: "big", color: "red", label: "add a video"})
        +standard-button({size: "big", color: "red", label: "new playlist"})