mixin stages(numOfStages, mixClass = "")
    - mixClass = mixClass ? " " + mixClass : mixClass;
    div(class="stages" + mixClass)
        - for (var i = 1; i <= numOfStages; i++)
            .stages__stage.stages__stage_inactive=i