include ../../../blocks/dropdown/dropdown.pug
include ../../../blocks/tick-box/tick-box.pug
include ../../../blocks/slider/slider.pug
include ../../../blocks/user-profile/user-profile.pug
include ../../../blocks/standard-button/standard-button.pug

div(class="event-new__title-description" id="title-description")
    h2.event-new__stage-title Add a title and a description
    input(type="text" class="event-new__event-title-field" placeholder="Event title")
    textarea(class="event-new__event-description-field" placeholder="Event description")