mixin arrow-button({direction, disabled = false, mixClass = ""})
    - mixClass = mixClass ? " " + mixClass : mixClass;
    if (!disabled)
        button(class=`arrow-button arrow-button_${direction}` + mixClass)
    else
        button(class=`arrow-button arrow-button_${direction}` + mixClass disabled)