mixin arrow-button({direction, disabled = false})
    if (!disabled)
        button(class=`arrow-button arrow-button_${direction}`)
    else
        button(class=`arrow-button arrow-button_${direction}` disabled)