mixin arrow-button({direction, disabled = false, long = false})
    - let arrowBtnClass = `arrow-button arrow-button_${direction}`;
    - arrowBtnClass += long ? " arrow-button_long" : "";
    if (!disabled)
        button(class=arrowBtnClass)
    else
        button(class=arrowBtnClass disabled)
