.arrow-button
    outline: none
    position: relative    
    width: 50px
    height: 50px
    border-radius: 50%
    border: 3px solid #4eb7a8
    background-color: #ffffff

    &::after
        content: ""
        display: inline-block
        position: absolute
        top: 14px
        width: 13px
        height: 13px        
        border-top: 4px solid #4eb7a8
        border-right: 4px solid #4eb7a8  

    &_right::after
        transform: rotate(45deg)        
        right: 16px
    
    &_left::after
        transform: rotate(-135deg)
        left: 16px
              
    &:hover
        background-color: #4eb7a8

        &::after
            border-color: #ffffff
            background-color: #4eb7a8
    
    &:disabled
        background-color: #e5e5e5
        border-color: #e5e5e5
        
        &::after
            border-color: #ffffff
            background-color: #e5e5e5
