@import "../../colors"

.arrow-button
  outline: none
  position: relative
  width: 50px
  height: 50px
  border-radius: 50%
  border: 3px solid $main-cyan
  background-color: $white
  cursor: pointer

  &_long
    height: 100%
    border-radius: 0

  &_right::after
    transform: translateY(-50%) rotate(45deg)
    right: 16px

  &_left::after
    transform: translateY(-50%) rotate(-135deg)
    left: 16px

  &:hover
    background-color: $main-cyan

    &::after
      border-color: $white
      background-color: $main-cyan

  &:disabled
    background-color: $grey-e5
    border-color: $grey-e5
    cursor: default

    &::after
      border-color: $white
      background-color: $grey-e5

  &:focus
    outline: 2px solid $grey-e5

  &::after
    content: ""
    position: absolute
    top: 50%
    width: 13px
    height: 13px
    border-top: 4px solid $main-cyan
    border-right: 4px solid $main-cyan
