mixin dropdown({options, hasDefault = false, multiple = false})
    - const modClass = multiple ? " dropdown_multiple js-dropdown_multiple" : "";
    select(class="dropdown js-dropdown" + modClass)
        if (!hasDefault)
            option(value="")
        each opt in options
            option.dropdown__option(value=opt)=opt
