mixin dropdown({options, hasDefault = false, multiple = false})
    - const modClass = multiple ? " dropdown_multiple js-dropdown-multiple" : "";
    select(class="dropdown js-dropdown" + modClass)
        if (!hasDefault)
            option(value="")
        each opt in options
            option(class="dropdown__option" value=opt)=opt

