.dropdown
  width: 288px

  &__option
    background-color: #e5e5e5

.select2-container
  .selection
    .select2-selection
      box-sizing: border-box
      outline: none
      border: none
      height: 28px
      width: 288px
      padding-left: 6px
      padding-right: 33px
      background-color: #e5e5e5
      border-radius: 2px
      font-family: "Source Sans Pro", "Arial", sans-serif
      font-weight: 400
      font-style: normal
      font-stretch: normal
      font-size: 14px

      &:focus
        background-color: #d5d5d5

      .select2-selection__placeholder
        color: #888888

      .select2-selection__rendered
        color: #666666

      .select2-selection__arrow
        width: 33px
        height: 28px
        border-radius: 0 3px 3px 0
        top: 0
        right: 0
        background-color: #4eb7a8
        padding: 0

        b
          width: 8px
          height: 8px
          border: none
          border-left: 2px solid #ffffff
          border-top: 2px solid #ffffff
          transform: rotate(-135deg)
          top: 9px
          left: 15px

  .select2-dropdown
    border: none

    .select2-results__options
      color: #ffffff
      font-family: "Source Sans Pro", "Arial", sans-serif
      font-weight: 400
      font-style: normal
      font-stretch: normal
      font-size: 14px
      background-color: #4eb7a8
      border-radius: 2px
      max-height: 132px

    .select2-results__option
      padding-left: 13px

      &--highlighted
        background-color: #5bc6b6