mixin dropdown({options, hasDefault = false, small = false, mixClass = ""})
    - mixClass = mixClass ? " " + mixClass : mixClass;
    - const dropdownClass = small ? "dropdown js-dropdown dropdown_small" : "dropdown js-dropdown";
    select(class=dropdownClass + mixClass)
        if (!hasDefault)
            option(value="")
        each opt in options
            option(class="dropdown__option" value=opt)=opt

