mixin dropdown({options, hasDefault = false, small = false, multiple = false, mixClass = ""})
    - mixClass = mixClass ? " " + mixClass : mixClass;
    - let modClass = small ? " dropdown_small" : "";
    - modClass = multiple ? " dropdown_multiple js-dropdown-multiple" : "";
    select(class="dropdown js-dropdown" + modClass + mixClass)
        if (!hasDefault)
            option(value="")
        each opt in options
            option(class="dropdown__option" value=opt)=opt

