mixin dropdown({options, hasDefault = false, mixClass = ""})
    - mixClass = mixClass ? " " + mixClass : mixClass;
    select(class="dropdown js-dropdown" + mixClass)
        if (!hasDefault)
            option(value="")
        each opt in options
            option(class="dropdown__option" value=opt)=opt

