@import "../../colors"

.select2-container
  width: 100% !important
  .selection
    .select2-selection
      box-sizing: border-box
      outline: none
      border: none
      height: 1.75rem
      width: 100%
      padding-left: 0.375rem
      padding-right: 2.0625rem
      background-color: $grey-e5
      border-radius: 0.125rem
      font-family: "Source Sans Pro", "Arial", sans-serif
      font-weight: 400
      font-style: normal
      font-stretch: normal
      font-size: 0.875rem

      &--multiple
        padding-right: 6px

      &:focus
        background-color: $grey-d5

      &__placeholder
        color: $grey-88

      &__rendered
        color: $grey-66

      .select2-selection__arrow
        width: 2.0625rem
        height: 1.75rem
        border-radius: 0 0.1875rem 0.1875rem 0
        top: 0
        right: 0
        background-color: $main-cyan
        padding: 0

        b
          width: 0.5rem
          height: 0.5rem
          border: none
          border-left: 0.125rem solid $white
          border-top: 0.125rem solid $white
          transform: rotate(-135deg)
          top: 0.5625rem
          left: 0.9375rem

  .select2-dropdown
    border: none
    .select2-results
      &__options
        color: $white
        font-family: "Source Sans Pro", "Arial", sans-serif
        font-weight: 400
        font-style: normal
        font-stretch: normal
        font-size: 0.875rem
        background-color: $main-cyan
        border-radius: 0.125rem
        max-height: 8.25rem

      &__option
        padding-left: 0.8125rem

        &[aria-selected="true"]
          background-color: $light-cyan
          color: $grey-66

        &--highlighted
          background-color: $cyan
