.event
  width: 288px
  height: 212px
  border-radius: 3px
  overflow: hidden

  &__image
    width: 95px
    height: 212px
    display: inline-block
    background-image: url("img/event-sample.jpg")
    background-size: cover

  &__main
    font-family: "Lato", "Arial", sans-serif
    box-sizing: border-box
    width: 193px
    height: 212px
    padding-left: 19px
    padding-top: 4px
    display: inline-block
    vertical-align: top
    background-color: #4eb7a8
    color: #ffffff
    padding-right: 15px

  &__date
    font-weight: 300
    word-spacing: 14px
    max-height: 88px
    overflow: hidden

  &__day
    font-size: 73px
    letter-spacing: -0.04em
    display: inline-block
    margin-right: 14px

  &__month
    font-size: 30px
    display: inline-block

  &__title
    font-weight: 900
    font-size: 12.5px
    margin-top: 8px
    margin-bottom: 3px
    letter-spacing: 0.05em
    text-transform: uppercase
    max-height: 15px
    overflow: hidden

  &__content
    font-weight: 400
    font-size: 11px
    letter-spacing: 0.05em
    margin-top: 0
    margin-bottom: 18px
    max-height: 28px
    overflow: hidden

  &__add-btn
    margin-left: 13px