@import "../../colors"

.event
  border-radius 0.1875rem
  overflow hidden

  &__image
    width 5.9375rem
    height 13.25rem
    display inline-block
    background-size cover
    background-position center

    @media (max-width 705px)
      display none

  &__main
    font-family "Lato", "Arial", sans-serif
    box-sizing border-box
    width 12.0625rem
    height 13.25rem
    padding 0.25rem 1.1875rem 0
    display inline-block
    vertical-align top
    background-color $main-cyan
    color $white

    @media (max-width 705px)
      width 100%

  &__date
    font-weight 300
    word-spacing 0.875rem
    max-height 5.5rem
    overflow hidden

  &__day
    font-size 4.5625rem
    letter-spacing -0.1825rem
    display inline-block
    margin-right 0.875rem

    @media (max-width 490px)
      font-size 3.75rem

  &__month
    font-size 1.875rem
    display inline-block

    @media (max-width 490px)
      font-size 1.25rem

  &__title
    font-weight 900
    font-size 0.7813rem
    margin-top 0.5rem
    margin-bottom 0.1875rem
    letter-spacing 0.0391rem
    text-transform uppercase
    max-height 0.9375rem
    overflow hidden

  &__content
    font-weight 400
    font-size 0.6875rem
    letter-spacing 0.0391rem
    margin-top 0
    margin-bottom 1.125rem
    max-height 1.75rem
    overflow hidden

  &__add-to-calendar
    text-align center

  &_added &__content
    max-height 4.0625rem

  &_added &__add-to-calendar
    display none
