.event
  height: 212px
  border-radius: 3px
  overflow: hidden

  &__image
    width: 95px
    height: 212px
    display: inline-block
    background-image: url("img/event-sample.jpg")
    background-size: cover

    @media (max-width: 705px)
      display: none

  &__main
    font-family: "Lato", "Arial", sans-serif
    box-sizing: border-box
    width: calc(100% - 95px)
    height: 212px
    padding: 4px 19px 0
    display: inline-block
    vertical-align: top
    background-color: #4eb7a8
    color: #ffffff

    @media (max-width: 705px)
      width: 100%

  &__date
    font-weight: 300
    word-spacing: 14px
    max-height: 88px
    overflow: hidden

  &__day
    font-size: 73px
    letter-spacing: -0.04em
    display: inline-block
    margin-right: 14px

    @media (max-width: 490px)
      font-size: 60px

  &__month
    font-size: 30px
    display: inline-block

    @media (max-width: 490px)
      font-size: 20px

  &__title
    font-weight: 900
    font-size: 12.5px
    margin-top: 8px
    margin-bottom: 3px
    letter-spacing: 0.05em
    text-transform: uppercase
    max-height: 15px
    overflow: hidden

  &__content
    font-size: 11px
    letter-spacing: 0.05em
    margin-top: 0
    margin-bottom: 18px
    max-height: 28px
    overflow: hidden

  &__add-btn
    text-align: center

  &_added &__content
    max-height: 65px

  &_added &__add-btn
    display: none