.horizontal-preview-section
  box-sizing: border-box
  position: relative
  width: 1050px
  padding: 20px 80px
  background-color: #ffffff
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.2)

  &__content
    margin: 10px auto
    width: 100%
    display: flex
    justify-content: space-between

  &__button-wrapper
    position: absolute
    top: 50%
    transform: translateY(-50%)

    &_right
      right: 17px

    &_left
      left: 17px

    /*.news
      flex-shrink: 0*/