@import "../../colors"

.spinner
  .ui-spinner
    background-color: $grey-e5
    border: none
    height: 25px
    text-align: start
    width: 100px

    .ui-spinner-input
      outline: 2px solid $grey-88
      color: $grey-66
      font-size: 14px
      padding: 0 5px
      font-family: "Lato", "Arial", sans-serif
      width: calc(100% - 25px)
      margin: 0
      height: 100%
      box-sizing: border-box

    .ui-spinner-button:active
      border: none
      background: $grey-88
