include ../section-title/section-title.pug

mixin page-section({sectionTitle, addedClass} = {})
    section(class="page-section " + addedClass)
        +section-title({title: sectionTitle})
        block
