.index
    &__buttons
        display: flex
        justify-content: center
        flex-wrap: wrap

    &__button
        height: 200px
        width: 200px
        background-color: #ffffff
        border: none
        outline: none
        font-family: "Lato"
        font-size: 26px
        font-weight: 900
        color: #888888
        text-transform: uppercase
        box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.2)
        transition: transform .2s ease-in-out
        cursor: pointer

        &:hover
            transform: scale(1.1)
        
        &-wrapper
            margin-right: 15px

            &:last-child
                margin-right: 0