extends ../page-template-logged-in/page-template-logged-in.pug
include ../../blocks/news/news.pug

block head
    meta(name="description" content="Find latest news coverage of breaking news events, trending topics, and compelling articles, photos and videos of US and international news stories.")
    meta(name="keywords" content="news, trending, politics, sports, business, technology")
    title News

block page-content
    - const newsData = require("./block-data.json");
    +news(newsData)
