.news
  margin-left: auto
  margin-right: auto
  width: 95%

  @media (max-width: 1350px)
    width: 1050px
    margin-left: auto
    margin-right: auto

  @media (max-width: 1067px)
    width: 100%

  &::after
    display: block
    content: ""
    clear: both

  &__content
    float: right

    @media (max-width: 1067px)
      float: none
      width: 100%

@import ("__categories/news__categories.styl")

@import ("__items-container/news__items-container.styl")


@media (max-width: 1067px)
  .news
    &__container-category-wrapper
      width: 600px
      margin-left: auto
      margin-right: auto

    &__items
      width: 600px

    &__items-container
      width: 770px
      .news-item:last-child
        display: none

@media (max-width: 788px)
  .news
    &__items, &__container-category-wrapper
        width: 288px

    &__items-container
        width: 460px
        .news-item:first-child
            display: none

@media (max-width: 480px)
  .news
    &__items-container
      height: 350px
      width: 320px

    &__button-wrapper
      top: auto
      bottom: 20px

      &_left
        left: 100px
      &_right
        right: 100px
