doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="initial-scale=1.0, width=device-width")
        block page-title
    body
        include ../header/header.pug
        block page-content