.events
    .tick-box
        display: inline-block
        vertical-align: bottom
        float: right

    .toggle
        display: inline-block
        vertical-align: bottom

    .location
        margin-top: 10px 

        &__address
            display: none

    &__my-events
        width: 593px        

    &__items
        display: flex
        flex-wrap: wrap
        justify-content: flex-start
        margin-right: -17px
        margin-top: 20px

        .event
            margin-right: 17px

            .standard-button
                display: none

    &__arrow-buttons        
        margin-left: auto
        margin-right: auto
        width: 115px

        .arrow-button:first-child
            margin-right: 15px