.videos
  &__header
    margin-bottom: 20px
    padding-bottom: 20px
    border-bottom: 1px solid #e5e5e5

  &__buttons
    float: right

    @media (max-width: 600px)
      margin-top: 10px
      float: none

  &__add-video
    margin-right: 10px

  &__search
    display: inline-block
    padding-top: 6px

    @media (max-width: 750px)
      width: 200px

    @media (max-width: 600px)
      width: 100%