.news-article-preview
  width: 288px
  border-radius: 3px
  overflow: hidden

  &__image
    width: 95px
    height: 212px
    float: left
    background-image: url("/img/news-article-preview-sample.jpg")
    background-size: cover

  &__main
    font-family: "Lato", "Arial", sans-serif
    box-sizing: border-box
    padding-left: 22px
    padding-top: 22px
    padding-right: 20px
    line-height: 0.9
    width: 193px
    height: 212px
    float: right
    background-color: #e75735
    color: #ffffff

  &__title
    margin: 0
    font-weight: 300
    font-size: 28px
    line-height: 26px
    max-height: 52px
    overflow: hidden

  &__link
    text-decoration: none
    color: #ffffff
    outline: none

    &:hover, &:focus
      color: #dddddd

  &__date
    display: block
    font-weight: 900
    font-size: 11px
    margin-top: 13px
    margin-bottom: 15px
    text-transform: uppercase
    word-spacing: 5px
    max-height: 9px
    overflow: hidden

  &__content
    margin: 0
    font-weight: 400
    font-size: 11px
    line-height: 13px
    letter-spacing: 0.05em
    max-height: 80px
    overflow: hidden
