@import "../../colors"

.news-article-preview
  width 18rem
  border-radius 0.1875rem
  overflow hidden

  &_color_red &__main
    background-color $main-red

  &_color_cyan &__main
    background-color $main-cyan

  &__image
    width 5.9375rem
    height 13.25rem
    float left
    background-size cover

  &__main
    font-family "Lato", "Arial", sans-serif
    box-sizing border-box
    padding-left 1.375rem
    padding-top 1.375rem
    padding-right 1.25rem
    width 12.0625rem
    height 13.25rem
    float right
    color $white

  &__title
    margin 0
    font-weight 300
    font-size 1.75rem
    line-height 1.625rem
    max-height 3.25rem
    overflow hidden

  &__link
    text-decoration none
    color $white
    outline none

    &:hover, &:focus
      color $grey-d5

  &__date
    display block
    font-weight 900
    font-size 0.6875rem
    margin-top 0.7rem
    margin-bottom 0.7775rem
    text-transform uppercase
    word-spacing 0.3125rem
    max-height 0.8125rem
    overflow hidden

  &__content
    margin 0
    font-weight 400
    font-size 0.6875rem
    line-height 0.8725rem
    letter-spacing 0.05em
    max-height 5rem
    overflow hidden
