include ../__stage/new-event__stage.pug

mixin new-event__main-info
    +new-event__stage({title: "Add a title and a description"})
        .new-event__main-info
            input.new-event__text-field.new-event__event-title(type="text" placeholder="Event title")
            textarea.new-event__text-field.new-event__event-description(placeholder="Event description")
