.articles    
    &__article
        margin-bottom: 16px
        font-family: "Lato"
        position: relative
        border-bottom: 1px solid #e5e5e5

        &-title
            display: inline-block

        &-title, &-category, &-link
            &:hover
                color: #000099

        &-category
            margin-top: 0
            display: inline-block

        &-footer
            display: flex
            justify-content: space-between

        &-tags
            list-style: none
            padding: 0

            &-label
                display: inline-block
                margin-right: 5px
        
            &-item
                display: inline-block
                cursor: default   

        &-link
            text-decoration: none
            color: #000000        

        &-date
            position: absolute         
            top: 18.720px
            right: 0