include ../../user-profile/user-profile.pug
include ../../percentage/percentage.pug

mixin article(title, date, category, rating, photo)
    .articles__article
        header.articles__article-header
            a(href="#" class="articles__article-link")
                h3.articles__article-title #{title}                  
            .articles__article-date #{date}
        a(href="#" class="articles__article-link")
            h4.articles__article-category #{category}
        p.articles__article-content
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            | Mauris euismod non urna malesuada efficitur. Curabitur in 
            | sapien pulvinar, ultrices quam a, dignissim urna. Sed sed dolor 
            | nec eros mollis tincidunt. Vestibulum quis felis vehicula, ultrices 
            | risus a, tempor dolor. Sed ut libero blandit, fermentum lorem id, placerat sem. 
            | Proin vitae tristique nisl. Vivamus quam eros, tincidunt a auctor sed, varius quis 
            | metus. 
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            | Mauris euismod non urna malesuada efficitur. Curabitur in 
            | sapien pulvinar, ultrices quam a, dignissim urna. Sed sed dolor 
            | nec eros mollis tincidunt. Vestibulum quis felis vehicula, ultrices 
            | risus a, tempor dolor. Sed ut libero blandit, fermentum lorem id, placerat sem. 
            | Proin vitae tristique nisl. Vivamus quam eros, tincidunt a auctor sed, varius quis 
            | metus.
        ul.articles__article-tags
            h4.articles__article-tags-label Tags:
            li.articles__article-tags-item
                a(href="#" class="articles__article-link") tag1
            li.articles__article-tags-item , 
                a(href="#" class="articles__article-link") tag2
            li.articles__article-tags-item , 
                a(href="#" class="articles__article-link") tag3
            li.articles__article-tags-item , 
                a(href="#" class="articles__article-link") tag4
        footer.articles__article-footer
            .articles__article-author
                +user_profile("grey", "Name", "Profession", photo)
            .articles__article-rating
                +percentage(rating)