include ../__stage/event-new__stage.pug
include ../../location/location.pug

+event-new__stage({title: "Choose a place"})
    +location({title: "Choose a place", localAddress: "Lenina 12", globalAddress: "Tomsk, Russia"})
