mixin user-profile({color, name, profession, photo})
    .user-profile
        .user-profile__photo(style=`background-image: url(${photo})`)
        div(class="user-profile__info user-profile__info_" + color)
            .user-profile__name=name
            .user-profile__profession=profession
            .user-profile__social-container
                a.user-profile__social.user-profile__social_fb(href="/mock-address/" target="_blank" rel="noopener noreferrer")
                a.user-profile__social.user-profile__social_twitter(href="/mock-address/" target="_blank" rel="noopener noreferrer")
                a.user-profile__social.user-profile__social_dribbble(href="/mock-address/" target="_blank" rel="noopener noreferrer")
