include ../page-section/page-section.pug
include ../toggle/toggle.pug
include ../location/location.pug
include ../search/search.pug
include ../event/event.pug
include ../arrow-button/arrow-button.pug
include ../standard-button/standard-button.pug

mixin my-events(mixClass="")
    - mixClass= mixClass ? " " + mixClass : "";
    +page-section("My events", "my-events")
        form(action="event-new.html" class="my-events__new")
            +standard-button({size: "big", color: "blue", label: "create event"})
        +search({placeholder: "Event search", mixClass: "my-events__search"})
        .my-events__map
            +toggle({enabled: true, label: "Events map", mixClass: "my-events__map-option"})
            +location({address: "Tomsk", title: "My events", mixClass: "my-events__location"})
        .my-events__events
            - for (i = 0; i < 6; i++)
                +event({dateString: "2018-05-15", title: "Title", mixClass: "my-events__event", content: "Lorem ipsum dolor sit amet, consectetur adipiscing elit.Pellentesque eros quam, ullamcorper sed sem quis, cursus scelerisque elit."})
        .my-events__next-prev-buttons
            +arrow-button({direction: "left", disabled: true, mixClass: "my-events__prev-button"})
            +arrow-button({direction: "right"})
