@import "../../colors"

.event-speakers
  &__added-speakers
    padding: 0
    list-style: none
    text-align: start
    height: 17.8125rem
    overflow: auto
    background-color: $grey-f2

  &__speaker
    display: inline-block
    text-align: center
    box-sizing: border-box
    border-bottom: 0.0625rem solid $grey-de
    padding: 1.625rem 1.625rem 0.625rem
    width: 50%
    cursor: pointer
    outline: none

    @media (max-width: 760px)
      display: block
      margin: 0 auto
      width: 100%

    &:nth-child(2n - 1)
      border-right: 0.0625rem solid $grey-de

      @media (max-width: 760px)
        border-right: none

    @media (max-width: 760px)
      display: block

    &:focus
      background-color: $grey-ce

  &__profile
    display: inline-block

  &__speaker-info
    margin: 0

  &__info-name
    margin: 1.1875rem 0
    font-family: "Lato", "Arial", sans-serif
    display: inline-block
    margin-right: 0.3125rem
    font-weight: 700

  &__info-value
    display: inline-block
    margin-right: 0.9375rem

  &__buttons
    margin-top: 0.625rem
    text-align: start

  &__add-speaker
    vertical-align: bottom
    display: inline-block
    margin-right: 0.9375rem
