include ../standard-button/standard-button.pug
include ../user-profile/user-profile.pug

mixin event-speakers
    .event-speakers
        ul.event-speakers__added-speakers
            - for (let i = 0; i < 7; i++)
                li(class="event-speakers__speaker" tabindex=0)
                    .event-speakers__profile
                        +user-profile({color: "grey", name: "Speaker", profession: "Profession", photo: "img/user-profile-man.jpg"})
                    dl.event-speakers__speaker-info
                        dd.event-speakers__topic Topic:
                        dt.event-speakers__topic-title Topic title
                        dd.event-speakers__start Start:
                        dt.event-speakers__start-time 00:00

        .event-speakers__buttons
            .event-speakers__add-speaker
                +standard-button({size: "big", color: "blue", label: "add speaker", long: true})
            +standard-button({size: "big", color: "blue", label: "remove speaker", long: true})