include ../__stage/event-new__stage.pug

+event-new__stage({title: "Add a title and a description"})
    .event-new__main-info
        input(type="text" class="event-new__event-title" placeholder="Event title")
        textarea(class="event-new__event-description" placeholder="Event description")