ul.articles__categories.articles__container
    h2.articles__title Categories
    li.articles__category.articles__category-all.articles__category_selected
        a(href="#" class="articles__category-link") Popular     
    li.articles__category.articles__category-cat1
        a(href="#" class="articles__category-link") Category1
    li.articles__category.articles__category-cat2
        a(href="#" class="articles__category-link") Category2
    li.articles__category.articles__category-cat3
        a(href="#" class="articles__category-link") Category3
    li.articles__category.articles__category-cat4
        a(href="#" class="articles__category-link") Category4
    li.articles__category.articles__category-cat5
        a(href="#" class="articles__category-link") Category5  