extends ../page-template-logged-in/page-template-logged-in.pug

block head
    meta(name="description" content="Create a new event.")
    meta(name="keywords" content="event, new event, configure event, create event")
    title New event

block page-content
    include ../../blocks/new-event/new-event.pug
    script(src="https://maps.google.com/maps/api/js?key=AIzaSyAOCIrJxKv-dWFvk6Ki9Wix-mJPiKKBKHc")
