mixin tick-box({checked = true, label = "", shape = "round"} = {})
    - let tickboxClass = label ? "tick-box" : "tick-box tick-box_not-labeled";
    - tickboxClass += ` tick-box_shape_${shape}`;
    label(class=tickboxClass)=label
        input.tick-box__auxiliary-checkbox(type="checkbox" checked=checked)
        .tick-box__checkmark
