mixin tick-box({checked=false, label="", mixClass = ""})
    - mixClass = mixClass ? " " + mixClass : mixClass;
    - const tickboxClass = label ? "tick-box" : "tick-box tick-box_not-labeled";
    label(class=tickboxClass + mixClass)=label
        if (checked)
            input(type="checkbox" class="tick-box__auxiliary-checkbox" checked)
            .tick-box__checkmark
        else
            input(type="checkbox" class="tick-box__auxiliary-checkbox")
            .tick-box__checkmark
