mixin tick-box({checked, label = ""})
    - const tickboxClass = label ? "tick-box" : "tick-box tick-box_not-labeled";
    label(class=tickboxClass)=label
        if (checked)
            input.tick-box__auxiliary-checkbox(type="checkbox" checked)
            .tick-box__checkmark
        else
            input.tick-box__auxiliary-checkbox(type="checkbox")
            .tick-box__checkmark
