mixin toggle({enabled, label = ""})
    - const toggleClass = label ? "toggle" : "toggle toggle_not-labeled";
    label(class=toggleClass)=label
        if (enabled)
            input(type="checkbox" class="toggle__auxiliary-checkbox" checked)
            .toggle__switch
        else
            input(type="checkbox" class="toggle__auxiliary-checkbox")
            .toggle__switch