mixin toggle({enabled = true, label = "", color = "cyan", shape = "round"} = {})
    - let toggleClass = label ? "toggle" : "toggle toggle_not-labeled";
    - toggleClass += ` toggle_color_${color} toggle_shape_${shape}`;
    label(class=toggleClass)=label
        input.toggle__auxiliary-checkbox(type="checkbox" checked=enabled)
        .toggle__switch
