mixin toggle({enabled, label = ""})
    - const toggleClass = label ? "toggle" : "toggle toggle_not-labeled";
    label(class=toggleClass)=label
        if (enabled)
            input.toggle__auxiliary-checkbox(type="checkbox" checked)
            .toggle__switch
        else
            input.toggle__auxiliary-checkbox(type="checkbox")
            .toggle__switch
