.location
  border-radius: 4px
  overflow: hidden

  &__map
    height: 203px

  &__footer
    box-sizing: border-box
    height: 69px
    background-color: #e75735
    color: #ffffff
    display: flex
    justify-content: space-between

  &__footer-info
    font-family: "Lato", "Arial", sans-serif
    margin-left: 27px
    display: flex
    align-items: center

    @media (max-width: 475px)
      margin-left: 23px

  &__title
    font-weight: 300
    font-size: 30px
    word-spacing: -0.09em
    display: inline-block
    margin-right: 26px
    padding-bottom: 10px

    @media (max-width: 475px)
      font-size: 25px
      padding-bottom: 0

  &__address
    font-weight: 900
    font-size: 12.5px
    letter-spacing: 0.05em
    text-transform: uppercase
    display: inline-block
    max-width: 300px

    @media (max-width: 475px)
      font-size: 11px

    @media (max-width: 435px)
      display: none

  &__address-local
    max-height: 30px
    overflow: hidden

  &__address-global
    max-height: 30px
    overflow: hidden

  &__footer-buttons
    width: 79px
    padding: 20px 13px 20px 0
    display: flex
    justify-content: space-between

  &__footer-button
    width: 30px
    height: 30px

  &__my-location
    background: url("img/map-my-location.png") no-repeat 0px 1px

  &__pin
    background: url("img/map-pin.png") no-repeat 0px 2px