.location
    width: 593px
    height: 272px
    border-radius: 4px
    overflow: hidden  

    &__map        
        height: 203px

    &__footer
        box-sizing: border-box
        height: 69px
        background-color: #e75735
        color: #ffffff  
        display: flex
        justify-content: space-between

    &__footer-text
        margin-left: 27px
        height: 29px //!!!!!!!!!!
        padding-top: 20px
        padding-bottom: 20px
        width: 280px
        display: flex
        justify-content: space-between
        align-items: flex-end    

    &__meet-us
        font-family: "Lato"
        font-weight: 300
        font-size: 30px        
        word-spacing: -0.09em       
    
    &__address
        font-family: "Lato"
        font-weight: 900
        font-size: 12.5px
        letter-spacing: 0.05em        
        text-transform: uppercase        
        width: 143px      

    &__footer-buttons
        width: 79px
        height: 69px
        padding: 20px 13px 20px 0
        display: flex
        justify-content: space-between
    
    &__footer-button        
        width: 30px
        height: 30px

    &__my-location
        background: url("img/map-my-location.png") no-repeat 0px 1px
    
    &__pin
        background: url("img/map-pin.png") no-repeat 0px 2px