.events
  margin-left auto
  margin-right auto
  width 65rem

  @media (max-width 1085px)
    width 40.8125rem

  @media (max-width 705px)
    width 94.913%

  &__my-events
    float left

    @media (max-width 1085px)
      float none

    @media (max-width 705px)
      margin 0 auto

  &__recommended
    float right

    @media (max-width 1085px)
      float none
      box-sizing border-box
      width 100%
      margin-top 1.25rem

    @media (max-width 705px)
      margin 1.25rem auto 0

  &::after
    content ""
    display block
    clear both
