include ../my-events/my-events.pug
include ../recommended-events/recommended-events.pug

mixin events
    main.events
        .events__my-events
            +my-events(eventsData.myEvents)
        .events__recommended
            +recommended-events(eventsData.recommended)
