extends ../layout/layout.pug


block head
    title Events

block content
    .events    
        include __my-events/events__my-events.pug
        include __right/events__right       
            
    script(src="https://maps.google.com/maps/api/js?key=AIzaSyAOCIrJxKv-dWFvk6Ki9Wix-mJPiKKBKHc")