.events    
    margin-left: auto
    margin-right: auto    
    width: 1040px
    display: flex
    justify-content: space-between
    align-items: flex-start 
    flex-wrap: wrap

    .event
        margin-bottom: 15px

    &__title
        margin-top: 0
        font-family: "Lato"
        font-weight: 900
        text-transform: uppercase
        color: #aaaaaa
        font-size: 20px
        padding-bottom: 2px
        border-bottom: 2px solid #e5e5e5
    
    .tick-box
        display: inline-block
        vertical-align: bottom
        float: right
    
    .toggle
        display: inline-block
        vertical-align: bottom
    
    .location
        margin-top: 10px 

        &__address
            display: none

    &__my-events
        width: 593px        

    &__items
        display: flex
        flex-wrap: wrap
        justify-content: flex-start
        margin-right: -17px
        margin-top: 20px

        .event
            margin-right: 17px

            .standard-button
                display: none

    &__arrow-buttons        
        margin-left: auto
        margin-right: auto
        width: 115px

        .arrow-button:first-child
            margin-right: 15px

    &__container
        margin-bottom: 30px
        background-color: #ffffff
        padding: 20px 30px
        border-radius: 5px
        box-shadow: 0 0 10px 0 rgba(0,0,0,0.2)

    &__right > &__container:first-child
            .events__title
                width: 279px
                margin-left: auto
                margin-right: auto
            .calendar
                margin-left: auto
                margin-right: auto

    &__new
        display: block
        width: 200px
        margin-left: auto
        margin-right: auto

        .standard-button
            width: 200px
            

    &__see-more
        text-decoration: none
        font-family: "Lato"
        color: #4ab7a8
        text-transform: uppercase
        font-weight: 700

        &:hover
            color: #4a9aaf

@media (max-width: 1057px)
    .events
        display: block
        width: 653px

        &__right
            width: 100%
            max-height: 736px
            display: flex
            align-content: space-between
            flex-direction: column                          
            flex-wrap: wrap            

            .events
                &__container
                    box-sizing: border-box
                    padding: 20px 14px
                    width: 316px
                
                &__search, &__new-event
                    height: 117px
                
                &__calendar, &__recommended
                    height: 559px


@media (max-width: 700px)
    .events
        width: 96.173%

        &__my-events
            width: 100%
            box-sizing: border-box

            .location
                width: 100%

        &__items 
            justify-content: center

        .event
            width: 100%
            position: relative

            &__image
                position: absolute
                width: 95px                
                background-size: contain

            &__text
                width: 100%
                padding-left: 114px
                
@media (max-width: 680px)
    .events
        &__right
            display: block
            margin-left: auto
            margin-right: auto
            width: 316px
            max-height: none

@media (max-width: 430px)
    .events
        .tick-box
            float: none
            margin-top: 10px
            display: block

        &__container
            padding: 20px 14px