body
    background-color: #f5f5f5

.index
    width: 100%
    min-height: 100vh
    display: flex
    align-items: center
    justify-content: center

@import "__button/index__button.styl"

@media (max-width: 1085px)
    .index
        &__buttons
            width: 630px

        &__button-wrapper     
            margin-bottom: 15px

            &:nth-child(3)
                margin-right: 0

@media (max-width: 650px)
    .index
        &__buttons
            width: 290px

        &__button
            width: 290px
            height: 100px

        &__button-wrapper
            margin-right: 0