body
    background-color: #f5f5f5

.index
    width: 100%
    min-height: 100vh
    display: flex
    align-items: center
    justify-content: center

@import "__button/index__button.styl"

@media (max-width: 1290px)
    .index
        &__buttons
            width: 630px

        &__button-wrapper     
            margin-bottom: 7.5px
            margin-top: 7.5px

            &:nth-child(3)
                margin-right: 0

@media (max-width: 646px)
    .index
        &__button-wrapper
            margin-right: 15px
        
            &:nth-child(3)
                margin-right: 15px

            &:nth-child(2n)
                margin-right: 0

@media (max-width: 448px)
    .index
        &__buttons
            width: 200px

        &__button-wrapper
            &:nth-child(2n - 1)
                margin-right: 0