mixin categories-navigation({categories = {}, selectedCategory} = {})
    nav.categories-navigation
        ul.categories-navigation__list
            each categoryAddress, categoryName in categories
                li.categories-navigation__category(
                    class=categoryName !== selectedCategory ? "" : "categories-navigation__category_selected"
                )
                    a.categories-navigation__link(href=categoryAddress)=categoryName
