mixin categories-navigation({categories, selectedCategory})
    nav.categories-navigation
        ul.categories-navigation__list
            - for (let categoryName in categories)
                if (categoryName !== selectedCategory)
                    li.categories-navigation__category
                        a(href=categories[categoryName] class="categories-navigation__link")=categoryName
                else
                    li.categories-navigation__category.categories-navigation__category_selected
                        a(href=categories[categoryName] class="categories-navigation__link")=categoryName