.event-new
  &__stage
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2)
    background-color: #fff
    padding: 25px 20px
    margin-bottom: 15px

    &_narrow
      box-sizing: border-box
      width: 49%

      @media (max-width: 710px)
        box-sizing: content-box
        width: 279px
        margin-left: auto
        margin-right: auto

  &__stage-title
    margin-top: 0
    margin-bottom: 30px