include ../../blocks/page-section/page-section.pug
include ../../blocks/article-preview/article-preview.pug

mixin articles-popular(articleInfoList)
    +page-section("Popular", "articles-popular")
        - for (let articleInfo of articleInfoList)
            .articles-popular__article
                +article-preview(articleInfo)
