@import "../../colors"

.articles-popular
  box-sizing: border-box
  width: 68%

  @media (max-width: 910px)
    width: 100%

  &__article
    padding-bottom: 20px
    margin-bottom: 15px
    border-bottom: 2px solid $grey-e5
