$grey-4f = #4f4f4f
$grey-66 = #666666
$grey-77 = #777777
$grey-86 = #868686
$grey-88 = #888888
$grey-9d = #9d9d9d
$grey-ce = #cecece
$grey-d1 = #d1d1d1
$grey-d5 = #d5d5d5
$grey-de = #dedede
$grey-e5 = #e5e5e5
$grey-ec = #ececec
$grey-f2 = #f2f2f2

$white = #ffffff

$light-red = #e34a26
$main-red = #e75735
$red = #d54c2c
$dark-red = #bf3e1f

$light-cyan = #b3f2e9
$main-cyan = #4eb7a8
$cyan = #46ab9d
$dark-cyan = #28a290
$darkest-cyan = #379285
