mixin news_item(title, date, text)
    .news-item
        .news-item__image
        .news-item__text
            .news-item__title #{title}
            .news-item__date #{date}
            .news-item__content #{text}
