@import "../../../colors"

.videos
  &__content
    position: relative

  &__display-order
    width: 160px
    position: absolute
    right: 0
    top: 10px

    @media (max-width: 600px)
      position: static
      margin-bottom: 10px

  &__video
    width: 320px
    padding-bottom: 180px
    position: relative
    margin-top: 8px
    margin-right: 8px
    display: inline-block

    @media (max-width: 750px)
      margin-right: 0
      width: 480px
      padding-bottom: 270px

    @media (max-width: 600px)
      width: 320px
      padding-bottom: 180px

    &:nth-child(3n)
      @media (min-width: 1081px)
        margin-right: 0

    &:nth-child(2n)
      @media (max-width: 1080px)
        margin-right: 0

  .ui-tabs
    padding: 0
    border: none

    &-panel
      padding: 0

    &-nav
      padding: 0
      border: none
      background-color: transparent

    &-anchor
      font-family: "Lato", "Arial", sans-serif

    &-active
      background-color: $main-cyan
      border-color: $main-cyan

    &-anchor:focus
      outline: none
