include ../../video/video.pug

.videos__content
    ul
        li
            a(href="#all") All videos
        li
            a(href="#playlists") Playlists                         
    div(class="videos__all" id="all")
        +video("k3jlviX88iw")
        +video("kKrYAdB8XJ4")            
        +video("Ih323XXu_3w")
        +video("rioXu6EBN0s")
        +video("zhA5LNA3MxE")
        +video("eh7lp9umG2I")
        +video("9h1UiqBuxO0")            
        +video("YPbb2xspJHM")
    div(class="videos__playlists" id="playlists") 