include ../../video/video.pug
include ../../dropdown/dropdown.pug

mixin videos__content(videoIdList)
    .videos__content.js-videos__content
        - const orderOptions = ["by default", "by popularity", "newest first", "oldest first"];
        .videos__display-order
            +dropdown({options: orderOptions, hasDefault: true})
        ul.videos__tabs
            li.videos__tab
                a.videos__tab-link(href="#all") All videos
            li.videos__tab
                a.videos__tab-link(href="#playlists") Playlists
        .videos__all(id="all")
            - for (let id of videoIdList)
                .videos__video
                    +video(id)
        .videos__playlists(id="playlists")
