@import "../../../colors"

.videos
  &__content
    position relative

  &__display-order
    width 10rem
    position absolute
    right 0
    top 0.625rem

    @media (max-width 600px)
      position static
      margin-bottom 0.625rem

  &__video
    width 20rem
    padding-bottom 11.25rem
    position relative
    margin-top 0.5rem
    margin-right 0.5rem
    display inline-block

    @media (max-width 750px)
      margin-right 0
      width 30rem
      padding-bottom 16.875rem

    @media (max-width 600px)
      width 20rem
      padding-bottom 11.25rem

    &:nth-child(3n)
      @media (min-width 1081px)
        margin-right 0

    &:nth-child(2n)
      @media (max-width 1080px)
        margin-right 0

  .ui-tabs
    padding 0
    border none

    &-panel
      padding 0

    &-nav
      padding 0
      border none
      background-color transparent

    &-anchor
      font-family "Lato", "Arial", sans-serif

    &-active
      background-color $main-cyan
      border-color $main-cyan

    &-anchor:focus
      outline none
