@import "../../colors"

.news-category-preview
  box-sizing: border-box
  position: relative
  width: 65.625rem
  padding: 1.25rem 5rem
  background-color: $white
  box-shadow: 0 0 0.625rem 0 $black-shadow
  margin: 0 auto 1.875rem

  @media (max-width: 1090px)
    width: 48.125rem

  @media (max-width: 788px)
    width: 28rem

  &__content
    display: flex
    justify-content: space-between

  &__article-preview
    @media (max-width: 1090px)
      &:last-child
        display: none

    @media (max-width: 788px)
      &:first-child
        display: none

  &__scroll-btn
    position: absolute
    height: 13.25rem
    top: 20.7%

    &_right
      right: 1.0625rem

    &_left
      left: 1.0625rem
