extends ../page-template/page-template.pug
include ../../blocks/my-events/my-events.pug
include ../../blocks/recommended-events/recommended-events.pug

block page-title
    title Events

block page-content
    .events
        +my-events("events__my-events")
        +recommended-events("events__recommended")

    script(src="https://maps.google.com/maps/api/js?key=AIzaSyAOCIrJxKv-dWFvk6Ki9Wix-mJPiKKBKHc")