extends ../page-template-logged-in/page-template-logged-in.pug
include ../../blocks/events/events.pug

block head
    meta(name="description" content="Browse through your events, find new events, and create your own events.")
    meta(name="keywords" content="my events, recommended events, create event, find events")
    title Events

block page-content
    - const eventsData = require("./block-data.json");
    +events
    script(src="https://maps.google.com/maps/api/js?key=AIzaSyAOCIrJxKv-dWFvk6Ki9Wix-mJPiKKBKHc")
