extends ../page-template/page-template-logged-in.pug

block page-title
    title Events

block page-content
    include ../../blocks/events/events.pug
    script(src="https://maps.google.com/maps/api/js?key=AIzaSyAOCIrJxKv-dWFvk6Ki9Wix-mJPiKKBKHc")