extends ../page-template/page-template.pug
include ../../blocks/events-my-events/events-my-events.pug
include ../../blocks/events-recommended/events-recommended.pug
include ../../blocks/events-new-event/events-new-event.pug

block page-title
    title Events

block page-content
    include ../../blocks/events/events.pug
    script(src="https://maps.google.com/maps/api/js?key=AIzaSyAOCIrJxKv-dWFvk6Ki9Wix-mJPiKKBKHc")