.events
  margin-left: auto
  margin-right: auto
  width: 1040px

  @media (max-width: 1085px)
    width: 653px

  @media (max-width: 705px)
    width: 94.913%

  &::after
    content: ""
    display: block
    clear: both