include ../search/search.pug

header.page-header
    .page-header__content
        .page-header__logo logo
        nav.page-header__nav
            ul.page-header__nav-items
                li.page-header__nav-item
                    a(href="event-new.html" class="page-header__nav-link header__profile") Profile
                li.page-header__nav-item
                    a(href="news.html" class="page-header__nav-link header__news") News 
                li.page-header__nav-item
                    a(href="events.html" class="page-header__nav-link header__events") Events             
                li.page-header__nav-item
                    a.page-header__nav-link.page-header__messages Messages
                li.page-header__nav-item
                    a(href="articles.html" class="page-header__nav-link page-header__articles") Articles
                li.page-header__nav-item
                    a(href="videos.html" class="page-header__nav-link page-header__videos") Videos
        +search("Search")
        .page-header__profile-photo  
        ul.page-header__profile-menu
            li.page-header__profile-menu-item
                a.page-header__profile-menu-link.page-header__settings Settings            
            li.page-header__profile-menu-item
                a.page-header__profile-menu-link.page-header__support Support
            li.page-header__profile-menu-item
                a.page-header__profile-menu-link.page-header__logout Log out
        
    