@import "../../colors"

.events-recommended
  float: right

  @media (max-width: 1085px)
    float: none
    box-sizing: border-box
    width: 100%
    margin-top: 1.25rem

  @media (max-width: 705px)
    box-sizing: border-box
    width: 100%
    margin: 1.25rem auto 0

  &__events
    @media (max-width: 1085px)
      display: flex
      justify-content: space-between

  &__event
    margin-bottom: 0.9375rem
    width: 18rem

    @media (max-width: 705px)
      width: 48.563%

  &__see-more
    text-decoration: none
    font-family: "Lato", "Arial", sans-serif
    color: $main-cyan
    text-transform: uppercase
    font-weight: 700

    &:hover
      color: $light-blue
