include ../event/event.pug
include ../page-section/page-section.pug

mixin events-recommended(eventList)
    +page-section({sectionTitle: "Recommended", addedClass: "events-recommended"})
        .events-recommended__events
            each event in eventList
                .events-recommended__event
                    +event(event)
        a.events-recommended__see-more(href="/mock-address/") See more
