include ../event/event.pug
include ../page-section/page-section.pug

mixin events-recommended
    +page-section("Recommended", "events-recommended")
        .events-recommended__events
            .events-recommended__event
                +event({dateString: "2018-05-15", title: "Title", content: "Lorem ipsum dolor sit amet, consectetur adipiscing elit."})
            .events-recommended__event
                +event({dateString: "2018-05-15", title: "Title", content: "Lorem ipsum dolor sit amet, consectetur adipiscing elit."})
        a.events-recommended__see-more(href="/mock-address/") See more
