include ../standard-button/standard-button.pug
include ../input-field/input-field.pug

mixin sign-up
    .sign-up
        a.sign-up__logo(href="index.html") LOGO
        h1.sign-up__page-title Sign up
        form.sign-up__form
            label.sign-up__label Email
                .sign-up__input-field
                    +input-field({color: "white"})

            label.sign-up__label First name
                .sign-up__input-field
                    +input-field({color: "white"})

            label.sign-up__label Second name
                .sign-up__input-field
                    +input-field({color: "white"})

            label.sign-up__label Password
                .sign-up__input-field
                    +input-field({type: "password", color: "white"})

            .sign-up__button
                +standard-button({size: "big", color: "cyan", label: "Create account", long: true})
