.sign-up
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: center
    height: 100%
    width: 420px
    margin: 0 auto

    &__page-title
        font-family: "Lato"
        color: #555555

    &__form
        background-color: #ffffff
        width: 350px
        padding: 20px 35px
        margin-bottom: 0
        box-shadow: 0 0 10px 0 rgba(0,0,0,0.2)

    &__email
        margin-bottom: 20px
    
    &__field
        display: block
        width: 350px
        height: 35px
        border-radius: 4px
        outline: none
        border: 1px solid #bbbbbb
        background-color: #fafafa
        color: #666666
        font-family: "Lato"
        padding: 0 10px
        font-size: 16px
        margin-top: 5px
        margin-bottom: 20px

    &__label
        font-family: "Lato"
        font-size: 14px

    &__button
        display: block
        width: 100%
        margin: 10px 0