include ../standard-button/standard-button.pug

.sign-up
    a.sign-up__logo(href="index.html") LOGO
    h1.sign-up__page-title Sign up
    form.sign-up__form
        label.sign-up__label Email
            input.sign-up__input-field

        label.sign-up__label First name
            input.sign-up__input-field

        label.sign-up__label Second name
            input.sign-up__input-field

        label.sign-up__label Password
            input.sign-up__input-field(type="password")

        .sign-up__button
            +standard-button({size: "big", color: "cyan", label: "Create account", long: true})
