include ../__stage/new-event__stage.pug
include ../../calendar/calendar.pug

mixin new-event__date
    +new-event__stage({title: "Pick a date", narrow: true})
        .new-event__calendar
            +calendar
