.videos
  &__content
    position: relative

  &__video
    width: 320px
    height: 180px
    margin-top: 8px
    margin-right: 8px
    display: inline-block

    @media (max-width: 750px)
      margin-right: 0
      width: 480px
      height: 270px

    @media (max-width: 600px)
      width: 320px
      height: 180px

    &:nth-child(3n)
      @media (min-width: 1081px)
        margin-right: 0

    &:nth-child(2n)
      @media (max-width: 1080px)
        margin-right: 0

  .ui-tabs
    padding: 0
    border: none

    &-panel
      padding: 0

    &-nav
      padding: 0
      border: none
      background-color: transparent

    &-anchor
      font-family: "Lato", "Arial", sans-serif
      font-weight: 400

    &-active
      background-color: #4eb7a8
      border-color: #4eb7a8

    &-anchor:focus
      outline: none

  .select2-container
    position: absolute
    right: 0
    top: 10px

    @media (max-width: 600px)
      position: relative
      top: 0
      margin-bottom: 10px