.videos
  &__content
    padding: 0
    border: none !important
    background-color: transparent

  &__video
    width: 320px
    height: 180px
    margin-top: 8px
    margin-right: 8px

    @media (max-width: 750px)
      width: 480px
      height: 270px

    @media (max-width: 600px)
      width: 320px
      height: 180px

.ui-tabs
    .ui-tabs-panel
        padding: 0
        display: flex
        flex-wrap: wrap
        justify-content: flex-start
        margin-right: -8px

    .ui-tabs-nav
        padding: 0
        border: none
        background-color: transparent

    .ui-tabs-anchor
        font-family: "Lato"
        font-weight: 400

    .ui-tabs-active
        background-color: #4eb7a8
        border-color: #4eb7a8

    .ui-tabs-anchor:focus
        outline: none