include ../../../blocks/video/video.pug

.videos__content
    ul
        li
            a(href="#all") All videos
        li
            a(href="#playlists") Playlists
    div(class="videos__all" id="all")
        +video("k3jlviX88iw", "videos__video")
        +video("kKrYAdB8XJ4", "videos__video")
        +video("Ih323XXu_3w", "videos__video")
        +video("rioXu6EBN0s", "videos__video")
        +video("zhA5LNA3MxE", "videos__video")
        +video("eh7lp9umG2I", "videos__video")
        +video("9h1UiqBuxO0", "videos__video")
        +video("YPbb2xspJHM", "videos__video")
    div(class="videos__playlists" id="playlists")